@use "../styles/theme.scss";



:local(.avatar-modal){
  margin: 0px auto;
  position: relative;
//   // display: flex;
//   // flex-direction: column;
//   // height: max-content;
//   // height: 100%;

//   min-width: 395px;
//   margin: 0px auto;
//   padding: 45px 30px 20px;
 
//   width: auto;
  
//   max-width: 500px ;  //395px;          

  @media screen and (min-width: theme.$breakpoint-sm){
    min-width: 330px;
    max-height: 330px;
    // max-width: 295px;
    // padding: 25px 20px 20px;
  }

  @media screen and (min-width: theme.$breakpoint-md){
    max-width: 500px;
    max-height: 550px;
    // min-width: 550px;
    // min-height: 335px;
    // max-width: 395px;
    // padding: 40px 20px 20px;
  }
  @media screen and (max-width: theme.$breakpoint-md){
    max-width: 500px;
    max-height: 550px;
    // min-width: 550px;
    // min-height: 335px;
    // max-width: 395px;
    // padding: 40px 20px 20px;
  }

}

:local(.content) {
  align-items: center;
  padding: 24px;
  text-align: center;
}


:local(.avatar-preview-container) {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  // height: 100%;
  // width: 100%;
  // background: url("../../assets/images/Avatar-bg.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // max-width: 298px;
  // max-height: 280px;

  /* TODO: This styling into AvatarPreview */
  & > :first-child {
    // width: 168px;
    // height: 300px;
    // min-height: 300px;
    // border-radius: 8px;
    background: url("../../assets/images/Avatar-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 298px;
    height: 280px;
    min-height: 280px;
    // background-color: theme.$tile-bg-color;
  }

  button {
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
    width: 134px;
    height: 40px;
    border-radius: 50px;
  }
}
