@use "../styles/theme.scss";

:local(.invite-popover) {
  display: flex;
  flex-direction: column;
  padding: 16px;

  & > * {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media(min-width: theme.$breakpoint-md) {
    padding: 8px 16px 16px 16px;
    width: 272px;
  }
}