:local(.media-grid) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  flex: 1;
  align-content: flex-start;

  & > * {
    margin: 8px;
  }
}

:local(.center) {
  justify-content: space-evenly;
}

:local(.variable-width) {
  justify-content: flex-start;
}
