@use "../styles/theme.scss";

:local(.object) {
  font-size: theme.$font-size-sm;

  & > * {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

:local(.object-selected) {
  @media(max-width: theme.$breakpoint-md - 1) {
    display: none;
  }
}