@use "../styles/theme.scss";

:local(.content) {
  margin-top: 10px;
  padding-left: 20px;
  //padding: 0px 0px 24px 0px;
  button {
    width: 156px;
  }

  @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    padding: 0px 0px 24px 0px;
  }
}

:local(.logo-container) {
  padding: 0 16px;
  margin-top: 32px;
  margin-bottom: 30px;
  margin-right: 50px;
  margin-left: 20px;

  @media screen and (max-width: theme.$breakpoint-sm){
    width:100px;
    margin-top: 0px;
  }
  @media screen and (max-width: theme.$breakpoint-md){
    width:150px;
    margin-top: 15px;
  }
}

:local(.room-name) {
  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    font-size: theme.$font-size-xs;
    color: theme.$grey;
    margin-bottom: 4px;
  }

  p {
    font-size: theme.$font-size-sm;
    text-align: center;

    @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
      font-size: 20px;
    }
  }
}

:local(.buttons) {
 
  button {
    margin-left: 16px;
    margin-right: 16px;
    background: transparent;
    width: 100%;
  
    
    @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
