@use "../styles/theme.scss";

:local(.media), :local(.media) img, :local(.media) video {
  border-radius: theme.$border-radius-regular;
  background-color: theme.$lightgrey;
}

:local(.editor) {
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid theme.$darkgrey;
  border-radius: theme.$border-radius-regular;
  color: theme.$black;
  min-height: 5em;
  padding: theme.$spacing-xs;

  &:focus-within  {
    border-color: theme.$blue;
    box-shadow: 0 0 0 2px theme.$blue;
  }
}

:local(.editor-inner) {
  width: 100%;
  text-align: left;
  padding-bottom: 36px;
}

:local(.emoji-button) {
  display: none;
  position: absolute;
  bottom: theme.$spacing-2xs;
  right: theme.$spacing-2xs;

  @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    display: block;
  }
}

// Emoji pop out button
:local(.emoji-button) > div > button {
  border: none;
  font-size: theme.$font-size-xl;
  width: 1.5em;
}

// Emoji pop out menu
:local(.emoji-button) > div > div {
  right: 0px;
  cursor: pointer;
}

:local(.counter) {
  position: absolute;
  bottom: theme.$spacing-xs;
  left: theme.$spacing-xs;
  color: theme.$grey;
}