@use "../styles/theme.scss";

:local(.content) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  text-align: center;
}

:local(.avatar-preview-container) {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

  /* TODO: This styling into AvatarPreview */
  & > :first-child {
    width: 168px;
    height: 300px;
    min-height: 300px;
    border-radius: 8px;
    background-color: theme.$lightgrey;
  }
}