:local(.mic-off-0) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -0px -0px;
    background-size: 262.5px 240px;
}
:local(.mic-off-0:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -160px -40px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -0px -0px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-1) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -0px -40px;
    background-size: 262.5px 240px;
}
:local(.mic-1:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -40px -40px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -0px -40px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-2) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -80px -0px;
    background-size: 262.5px 240px;
}
:local(.mic-2:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -80px -40px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -80px -0px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-3) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -0px -80px;
    background-size: 262.5px 240px;
}
:local(.mic-3:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -40px -80px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -0px -80px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-4) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -80px -80px;
    background-size: 262.5px 240px;
}
:local(.mic-4:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -120px -0px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -80px -80px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-5) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -120px -40px;
    background-size: 262.5px 240px;
}
:local(.mic-5:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -120px -80px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -120px -40px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-6) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -0px -120px;
    background-size: 262.5px 240px;
}
:local(.mic-6:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -40px -120px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -0px -120px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-7) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -80px -120px;
    background-size: 262.5px 240px;
}
:local(.mic-7:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -120px -120px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -80px -120px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-0) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -40px -0px;
    background-size: 262.5px 240px;
}
:local(.mic-0:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -160px -0px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -40px -0px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-off-1) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -160px -80px;
    background-size: 262.5px 240px;
}
:local(.mic-off-1:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -160px -120px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -160px -80px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-off-2) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -0px -160px;
    background-size: 262.5px 240px;
}
:local(.mic-off-2:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -40px -160px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -0px -160px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-off-3) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -80px -160px;
    background-size: 262.5px 240px;
}
:local(.mic-off-3:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -120px -160px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -80px -160px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-off-4) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -160px -160px;
    background-size: 262.5px 240px;
}
:local(.mic-off-4:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -200px -0px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -160px -160px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-off-5) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -200px -40px;
    background-size: 262.5px 240px;
}
:local(.mic-off-5:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -200px -80px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -200px -40px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-off-6) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -200px -120px;
    background-size: 262.5px 240px;
}
:local(.mic-off-6:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -200px -160px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -200px -120px;
    background-size: 262.5px 240px;
  }
}
:local(.mic-off-7) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -0px -200px;
    background-size: 262.5px 240px;
}
:local(.mic-off-7:hover){
  @media (pointer: fine) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -40px -200px;
    background-size: 262.5px 240px;
  }
  @media (pointer: coarse) {
    width: 40px;
    height: 40px;
    background: url("css-spritesheet.png") -0px -200px;
    background-size: 262.5px 240px;
  }
}
