:local(.create_object) {
    width: 132px;
    height: 132px;
    background: url("sprite-system-spritesheet.png") -156px -8px;
	background-size: 2048px 1024px;
}

:local(.freeze_off) {
    width: 132px;
    height: 132px;
    background: url("sprite-system-spritesheet.png") -156px -156px;
	background-size: 2048px 1024px;
}

:local(.freeze_on) {
    width: 132px;
    height: 132px;
    background: url("sprite-system-spritesheet.png") -304px -156px;
	background-size: 2048px 1024px;
}

:local(.mod-badge) {
    width: 128px;
    height: 128px;
    background: url("sprite-system-spritesheet.png") -8px -304px;
	background-size: 2048px 1024px;
}

:local(.recording-badge) {
    width: 128px;
    height: 128px;
    background: url("sprite-system-spritesheet.png") -152px -304px;
	background-size: 2048px 1024px;
}

:local(.spawn) {
    width: 128px;
    height: 128px;
    background: url("sprite-system-spritesheet.png") -452px -8px;
	background-size: 2048px 1024px;
}

:local(.Background) {
    width: 128px;
    height: 48px;
    background: url("sprite-system-spritesheet.png") -452px -152px;
	background-size: 2048px 1024px;
}

:local(.Oval Copy) {
    width: 124px;
    height: 124px;
    background: url("sprite-system-spritesheet.png") -452px -216px;
	background-size: 2048px 1024px;
}

:local(.camera_off) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -8px -448px;
	background-size: 2048px 1024px;
}

:local(.camera_on) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -176px -448px;
	background-size: 2048px 1024px;
}

:local(.mic-0) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -260px -448px;
	background-size: 2048px 1024px;
}

:local(.mic-1) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -428px -448px;
	background-size: 2048px 1024px;
}

:local(.mic-2) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -596px -8px;
	background-size: 2048px 1024px;
}

:local(.mic-3) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -596px -176px;
	background-size: 2048px 1024px;
}

:local(.mic-4) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -596px -344px;
	background-size: 2048px 1024px;
}

:local(.mic-5) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -8px -532px;
	background-size: 2048px 1024px;
}

:local(.mic-6) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -176px -532px;
	background-size: 2048px 1024px;
}

:local(.mic-7) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -344px -532px;
	background-size: 2048px 1024px;
}

:local(.mic-level-1) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -680px -512px;
	background-size: 2048px 1024px;
}

:local(.mic-level-2) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -8px -616px;
	background-size: 2048px 1024px;
}

:local(.mic-level-3) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -92px -616px;
	background-size: 2048px 1024px;
}

:local(.mic-level-4) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -176px -616px;
	background-size: 2048px 1024px;
}

:local(.mic-level-5) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -260px -616px;
	background-size: 2048px 1024px;
}

:local(.mic-level-7) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -344px -616px;
	background-size: 2048px 1024px;
}

:local(.mute_off) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -512px -616px;
	background-size: 2048px 1024px;
}

:local(.pen_off) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -680px -616px;
	background-size: 2048px 1024px;
}

:local(.pen_on) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -764px -92px;
	background-size: 2048px 1024px;
}

:local(.share_camera_off) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -764px -260px;
	background-size: 2048px 1024px;
}

:local(.share_camera_on) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -764px -428px;
	background-size: 2048px 1024px;
}

:local(.share_screen_off) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -764px -512px;
	background-size: 2048px 1024px;
}

:local(.share_screen_on) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -8px -700px;
	background-size: 2048px 1024px;
}

:local(.share_window_off) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -176px -700px;
	background-size: 2048px 1024px;
}

:local(.share_window_on) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -344px -700px;
	background-size: 2048px 1024px;
}

:local(.mic-off-0) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -428px -700px;
	background-size: 2048px 1024px;
}

:local(.mic-off-1) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -588px -700px;
	background-size: 2048px 1024px;
}

:local(.mic-off-2) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -748px -700px;
	background-size: 2048px 1024px;
}

:local(.mic-off-3) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -848px -90px;
	background-size: 2048px 1024px;
}

:local(.mic-off-4) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -848px -254px;
	background-size: 2048px 1024px;
}

:local(.mic-off-5) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -848px -418px;
	background-size: 2048px 1024px;
}

:local(.mic-off-6) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -848px -582px;
	background-size: 2048px 1024px;
}

:local(.mic-off-7) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -8px -784px;
	background-size: 2048px 1024px;
}

:local(.camera-action) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -928px -8px;
	background-size: 2048px 1024px;
}

:local(.close-action) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -928px -88px;
	background-size: 2048px 1024px;
}

:local(.close-white) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -928px -168px;
	background-size: 2048px 1024px;
}

:local(.drop-action) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -928px -248px;
	background-size: 2048px 1024px;
}

:local(.mute_on) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -928px -328px;
	background-size: 2048px 1024px;
}

:local(.next) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -928px -408px;
	background-size: 2048px 1024px;
}

:local(.pause) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -928px -568px;
	background-size: 2048px 1024px;
}

:local(.pin-action) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -928px -648px;
	background-size: 2048px 1024px;
}

:local(.play) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -8px -866px;
	background-size: 2048px 1024px;
}

:local(.prev) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -88px -866px;
	background-size: 2048px 1024px;
}

:local(.recenter-action) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -168px -866px;
	background-size: 2048px 1024px;
}

:local(.record-action-alpha) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -248px -866px;
	background-size: 2048px 1024px;
}

:local(.record-action) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -328px -866px;
	background-size: 2048px 1024px;
}

:local(.remote-action) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -408px -866px;
	background-size: 2048px 1024px;
}

:local(.remove-action) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -488px -866px;
	background-size: 2048px 1024px;
}

:local(.rotate-action) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -568px -866px;
	background-size: 2048px 1024px;
}

:local(.rotate-cursor) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -648px -866px;
	background-size: 2048px 1024px;
}

:local(.scale-action) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -728px -866px;
	background-size: 2048px 1024px;
}

:local(.snap_camera) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -808px -866px;
	background-size: 2048px 1024px;
}

:local(.spawn_message) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -888px -866px;
	background-size: 2048px 1024px;
}

:local(.spawn_message_dark) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -1008px -88px;
	background-size: 2048px 1024px;
}

:local(.stop-action) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -1008px -168px;
	background-size: 2048px 1024px;
}

:local(.unmute-action) {
    width: 48px;
    height: 48px;
    background: url("sprite-system-spritesheet.png") -1008px -248px;
	background-size: 2048px 1024px;
}

:local(.mute-action) {
    width: 26px;
    height: 46px;
    background: url("sprite-system-spritesheet.png") -1008px -312px;
	background-size: 2048px 1024px;
}

:local(.seek_back) {
    width: 32px;
    height: 32px;
    background: url("sprite-system-spritesheet.png") -1008px -422px;
	background-size: 2048px 1024px;
}

:local(.seek_fwd) {
    width: 32px;
    height: 32px;
    background: url("sprite-system-spritesheet.png") -1008px -518px;
	background-size: 2048px 1024px;
}

:local(.snap) {
    width: 32px;
    height: 32px;
    background: url("sprite-system-spritesheet.png") -1008px -614px;
	background-size: 2048px 1024px;
}

:local(.volume_down) {
    width: 32px;
    height: 32px;
    background: url("sprite-system-spritesheet.png") -1008px -710px;
	background-size: 2048px 1024px;
}

:local(.volume_up) {
    width: 32px;
    height: 32px;
    background: url("sprite-system-spritesheet.png") -1008px -806px;
	background-size: 2048px 1024px;
}

:local(.mic-0:hover) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -344px -448px;
	background-size: 2048px 1024px;
}

:local(.mic-1:hover) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -512px -448px;
	background-size: 2048px 1024px;
}

:local(.mic-2:hover) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -596px -92px;
	background-size: 2048px 1024px;
}

:local(.mic-3:hover) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -596px -260px;
	background-size: 2048px 1024px;
}

:local(.mic-4:hover) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -596px -428px;
	background-size: 2048px 1024px;
}

:local(.mic-5:hover) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -92px -532px;
	background-size: 2048px 1024px;
}

:local(.mic-6:hover) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -260px -532px;
	background-size: 2048px 1024px;
}

:local(.mic-7:hover) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -428px -532px;
	background-size: 2048px 1024px;
}

:local(.mic-off-0:hover) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -508px -700px;
	background-size: 2048px 1024px;
}

:local(.mic-off-1:hover) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -668px -700px;
	background-size: 2048px 1024px;
}

:local(.mic-off-2:hover) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -848px -8px;
	background-size: 2048px 1024px;
}

:local(.mic-off-3:hover) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -848px -172px;
	background-size: 2048px 1024px;
}

:local(.mic-off-4:hover) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -848px -336px;
	background-size: 2048px 1024px;
}

:local(.mic-off-5:hover) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -848px -500px;
	background-size: 2048px 1024px;
}

:local(.mic-off-6:hover) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -848px -664px;
	background-size: 2048px 1024px;
}

:local(.mic-off-7:hover) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -88px -784px;
	background-size: 2048px 1024px;
}

:local(.create_object:active) {
    width: 132px;
    height: 132px;
    background: url("sprite-system-spritesheet.png") -8px -8px;
	background-size: 2048px 1024px;
}

:local(.freeze_off:active) {
    width: 132px;
    height: 132px;
    background: url("sprite-system-spritesheet.png") -8px -156px;
	background-size: 2048px 1024px;
}

:local(.freeze_on:active) {
    width: 132px;
    height: 132px;
    background: url("sprite-system-spritesheet.png") -304px -8px;
	background-size: 2048px 1024px;
}

:local(.spawn:active) {
    width: 128px;
    height: 128px;
    background: url("sprite-system-spritesheet.png") -296px -304px;
	background-size: 2048px 1024px;
}

:local(.camera_off:active) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -452px -356px;
	background-size: 2048px 1024px;
}

:local(.camera_on:active) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -92px -448px;
	background-size: 2048px 1024px;
}

:local(.mic:active-0) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -512px -532px;
	background-size: 2048px 1024px;
}

:local(.mic:active-1) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -596px -532px;
	background-size: 2048px 1024px;
}

:local(.mic:active-2) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -680px -8px;
	background-size: 2048px 1024px;
}

:local(.mic:active-3) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -680px -92px;
	background-size: 2048px 1024px;
}

:local(.mic:active-4) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -680px -176px;
	background-size: 2048px 1024px;
}

:local(.mic:active-5) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -680px -260px;
	background-size: 2048px 1024px;
}

:local(.mic:active-6) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -680px -344px;
	background-size: 2048px 1024px;
}

:local(.mic:active-7) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -680px -428px;
	background-size: 2048px 1024px;
}

:local(.mute_off:active) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -428px -616px;
	background-size: 2048px 1024px;
}

:local(.pen_off:active) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -596px -616px;
	background-size: 2048px 1024px;
}

:local(.pen_on:active) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -764px -8px;
	background-size: 2048px 1024px;
}

:local(.share_camera_off:active) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -764px -176px;
	background-size: 2048px 1024px;
}

:local(.share_camera_on:active) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -764px -344px;
	background-size: 2048px 1024px;
}

:local(.share_screen_on:active) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -764px -596px;
	background-size: 2048px 1024px;
}

:local(.share_window_off:active) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -92px -700px;
	background-size: 2048px 1024px;
}

:local(.share_window_on:active) {
    width: 68px;
    height: 68px;
    background: url("sprite-system-spritesheet.png") -260px -700px;
	background-size: 2048px 1024px;
}

:local(.mic-off:active-0) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -168px -784px;
	background-size: 2048px 1024px;
}

:local(.mic-off:active-1) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -248px -784px;
	background-size: 2048px 1024px;
}

:local(.mic-off:active-2) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -328px -784px;
	background-size: 2048px 1024px;
}

:local(.mic-off:active-3) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -408px -784px;
	background-size: 2048px 1024px;
}

:local(.mic-off:active-4) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -488px -784px;
	background-size: 2048px 1024px;
}

:local(.mic-off:active-5) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -568px -784px;
	background-size: 2048px 1024px;
}

:local(.mic-off:active-6) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -648px -784px;
	background-size: 2048px 1024px;
}

:local(.mic-off:active-7) {
    width: 64px;
    height: 66px;
    background: url("sprite-system-spritesheet.png") -728px -784px;
	background-size: 2048px 1024px;
}

:local(.mute_on:active) {
    width: 66px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -808px -784px;
	background-size: 2048px 1024px;
}

:local(.pause:active) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -928px -488px;
	background-size: 2048px 1024px;
}

:local(.play:active) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -928px -728px;
	background-size: 2048px 1024px;
}

:local(.spawn_message_dark:active) {
    width: 64px;
    height: 64px;
    background: url("sprite-system-spritesheet.png") -1008px -8px;
	background-size: 2048px 1024px;
}

:local(.seek_back:active) {
    width: 32px;
    height: 32px;
    background: url("sprite-system-spritesheet.png") -1008px -374px;
	background-size: 2048px 1024px;
}

:local(.seek_fwd:active) {
    width: 32px;
    height: 32px;
    background: url("sprite-system-spritesheet.png") -1008px -470px;
	background-size: 2048px 1024px;
}

:local(.snap:active) {
    width: 32px;
    height: 32px;
    background: url("sprite-system-spritesheet.png") -1008px -566px;
	background-size: 2048px 1024px;
}

:local(.volume_down:active) {
    width: 32px;
    height: 32px;
    background: url("sprite-system-spritesheet.png") -1008px -662px;
	background-size: 2048px 1024px;
}

:local(.volume_up:active) {
    width: 32px;
    height: 32px;
    background: url("sprite-system-spritesheet.png") -1008px -758px;
	background-size: 2048px 1024px;
}

