@use "../styles/theme.scss";

:local(.fullscreen-layout) {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: theme.$white;
  z-index: 10;
}

:local(.header) {
  position: relative;
  height: 48px;
  border-bottom: 1px solid theme.$lightgrey;

  @media(min-width: theme.$breakpoint-md) {
    height: 96px;
  }
}

:local(.header-left), :local(.header-center), :local(.header-right) {
  display: flex;
  justify-content: center;
  align-items: center;
}

:local(.header-center) {
  height: 48px;

  @media(min-width: theme.$breakpoint-md) {
    height: 96px;
  }
}

:local(.header-left) {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 16px;
  height: 48px;

  @media(min-width: theme.$breakpoint-md) {
    margin-left: 24px;
    height: 96px;
  }
}

:local(.header-right) {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 16px;
  height: 48px;

  @media(min-width: theme.$breakpoint-md) {
    margin-right: 24px;
    height: 96px;
  }
}

:local(.content) {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

:local(.wrap-center) {
  :local(.header) {
    height: 144px;
  
    @media(min-width: theme.$breakpoint-md) {
      height: 96px;
    }
  }

  :local(.header-center) {
    margin-top: 48px;
    border-top: 1px solid theme.$lightgrey;
    width: 100%;
    height: 96px;
    
    @media(min-width: theme.$breakpoint-md) {
      margin-top: 0;
      border-top: none;
    }
  }
}
