:local(.grid) {
  display: flex;
  justify-content: center;

  & > *:last-child {
    margin-right: 0;
  }
}

:local(.gap-sm) > * {
  margin-right: 8px;
}

:local(.gap-md) > * {
  margin-right: 16px;
}

:local(.gap-lg) > * {
  margin-right: 24px;
}