@import '../../assets/stylesheets/shared';

header {
  display: block;

  @media(min-width: $breakpoint-lg) {
    display: flex;
    flex-direction: row;
    height: 65px;
    min-height: 65px;
    padding: 0 1.75em;
  }

  a {
    color: var(--home-header-link-color);
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
  }

  nav {
    display: flex;
    flex-direction: column;

    @media(min-width: $breakpoint-lg) {
      flex-direction: row;
    }

    li {
      padding-top: 20px;

      @media(min-width: $breakpoint-lg) {
        padding-top: 0;
      }
    }

    a {
      margin: 0 16px;
      font-size: 1.4em;
    }

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      flex-direction: column;
      align-items: center;

      @media(min-width: $breakpoint-lg) {
        justify-content: flex-end;
        flex-direction: row;
      }
    }
  }

  :local(.sign-in) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  
    @media(min-width: $breakpoint-lg) {
      flex-direction: row;
      justify-content: flex-end;
      flex: 1;
      padding-top: 0;
    }
  
    a {
      text-decoration: underline;
    }
  }
}
