@use "../styles/theme.scss";

header {
  display: block;
  padding: 20px;

  @media(min-width: theme.$breakpoint-lg) {
    height: 65px;
    min-height: 65px;
    padding: 0;
  }

  a {
    color: theme.$black;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
  }

  nav {
    display: flex;
    flex-direction: column;

    @media(min-width: theme.$breakpoint-lg) {
      flex-direction: row;
    }

    li {
      padding-top: 20px;

      @media(min-width: theme.$breakpoint-lg) {
        padding-top: 0;
      }
    }

    a {
      margin: 0 16px;
      font-size: theme.$font-size-md;
      color: theme.$black;
    }

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      flex-direction: column;
      align-items: center;

      @media(min-width: theme.$breakpoint-lg) {
        justify-content: flex-end;
        flex-direction: row;
      }
    }
  }

  :local(.home-link) {
    img {
      height: 32px;
    }
  }

  :local(.sign-in) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    
    a {
      color: theme.$blue;
      font-size: theme.$font-size-md;
    }
  
    @media(min-width: theme.$breakpoint-lg) {
      flex-direction: row;
      justify-content: flex-end;
      flex: 1;
      padding-top: 0;
    }
  }
}
