@import '../../assets/stylesheets/shared';

main {
  display: block;
  order: -1;

  @media(min-width: $breakpoint-lg) {
    order: 0;
    display: flex;
    flex-direction: column;
  }

  section {
    margin: auto;
    max-width: 100%;

    @media(min-width: $breakpoint-sm) {
      max-width: 540px;
    }

    @media(min-width: $breakpoint-md) {
      max-width: 720px;
    }

    @media(min-width: $breakpoint-lg) {
      max-width: 960px;
    }

    @media(min-width: $breakpoint-xl) {
      max-width: 1140px;
    }

    @media(min-width: $breakpoint-xxl) {
      max-width: 1410px;
    }
  }
}
