@use "../styles/theme.scss";

:local(.flex-row) {
  flex-direction: row;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

:local(.space-between) {
  justify-content: space-between;
}

$breakpoints: (
  "sm": theme.$breakpoint-sm,
  "md": theme.$breakpoint-md,
);

@each $size, $breakpoint in $breakpoints {
  // .sm-breakpoint-column
  :local(.#{$size}-breakpoint-column) {
    @media(max-width: $breakpoint) {
      display: block;
    }
  }
}

:local(.row) > :last-child {
  margin-bottom: 0;
}
