@use '../styles/theme';

:local(.toolbar) {
  // height: 195px;
  // width: 205px;
   display: flex;
  // padding: 12px;
  position:absolute;
  max-width: 220px;
  left:5%;
  top: 85%;
  transform: translateY(-50%);
  pointer-events: auto;
   
  @media (max-width: theme.$breakpoint-lg) {
    left:40%;
    top:15%;
    padding: 12px 24px;
    justify-content: space-between;
  }
  @media (max-width: theme.$breakpoint-sm) {
    top:10%;
    left:10%;
    padding: 12px 24px;
    justify-content: space-between;
  } justify-content: space-between;

  @media (max-width: theme.$breakpoint-md) {
    left:40%;
    top:20%;
    padding: 12px 24px;
    justify-content: space-between;
  }
}

:local(.content) {
  position: relative;
  width: 200px;
  height: 180px;
  padding: 0;
  left: 0;
  top: 0;
  @media (min-width: theme.$breakpoint-lg) {
    flex: 0;

    & > * {
      margin-right: 24px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}
 
:local(.rightadminContent){
  display: flex;
  // padding: 12px;
  position:absolute;
  max-width: 220px;
  left:80%;
  top: 85%;
  transform: translateY(-50%);
  pointer-events: auto;
   
}
:local(.head){
  z-index:99999999;
}