# Modern browsers - macOS 10.15 (Safari 15.6, 2012 MacBook compat) and iOS 15.8 (Safari 15.8 iPhone 8 compat) minimum
chrome >= 91 # This was the version of Chrome on Oculus Go devices when their support was sunset
safari >= 15
ios >= 15
firefox >= 91  # Lowered to align with Safari 15 capabilities, bump to 115 (Wolvic on HTC) when possible
edge >= 91
# Exclude legacy browsers
not ie >= 0
not ie_mob >= 0
not and_uc >= 0
not op_mini all
