@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&family=Sunflower:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/*                    
====================================================================
                          Commom Css Here [Reset] 
====================================================================*/
* { margin: 0px; padding: 0px; border: none; outline: none !important; }
body { font-family: 'Lekton', sans-serif; font-size: 10px; color: #292929; line-height: 1rem; font-weight: 400; background: #ffffff; }
 
a { text-decoration: none; cursor: pointer; outline: none; font-size: 16px; line-height: 24px; }
a:hover, a:focus, a:visited { text-decoration: none; outline: none; }
ul, li { list-style: none; padding: 0px; margin: 0px; }
img { max-width: 100%; }
.sign-inUp-wrap { min-height: 100vh; padding: 50px 0px; }
.signinUp-box { min-width: 395px; margin: 0px auto; padding: 45px 30px 20px; background-image: url(../../../../assets/images/shape-bg.png); min-height: 415px; width: auto; background-repeat: no-repeat; background-size: 100% 100%; position: relative; max-width: 395px; }
.signinUp-wrap { width: 100%; }
.form-body { width: 130px; margin: 0px auto; }
.form-head { margin-bottom: 20px; padding: 0px 35px 0px 55px; }
.form-head h5 { font-family: 'Sunflower', sans-serif; font-weight: bold; font-size: 20px; line-height: 24px; color: #fff; letter-spacing: -0.02em; }
.form-head > h6 { font-size: 13px; color: #fff; margin-bottom: 5px; font-family: 'Alata', sans-serif; }
.form-lbl { font-style: italic; font-size: 10px; line-height: 10px; letter-spacing: -0.02em; color: #FFFFFF; margin-bottom: 5px; }
.text-error { font-style: italic; font-size: 8px; line-height: 8px; letter-spacing: -0.02em; color: #FFFFFF; }
.form-field, .dob-field { font-size: 10px; line-height: 10px; letter-spacing: -0.02em; background: #C4C4C4; color: #fff; border-radius: 50px; border-color: #C4C4C4; padding: 3px 10px; height: 22px; }
.form-field:focus { background-color: #fff; border-color: #80bdff; box-shadow: none; color: rgba(0, 0, 0, 0.5); border-radius: 50px; border-color: #C4C4C4; background: #C4C4C4; color: #fff; }
.form-plan-field .form-field { background: transparent; border: none; color: rgba(0, 0, 0, 0.5); }
.dob-field { border-radius: 0px; }
.theme-form .form-group { margin-bottom: 5px; }
.btn-form { height: 22px; background: #fff; padding: 2px 15px; border-radius: 50px; border-color: #fff; font-weight: bold; font-size: 12px; line-height: 14px; text-align: center; letter-spacing: -0.02em; color: #5D5FEF; font-family: 'Sunflower', sans-serif; }
.btn-blue { background: #5D5FEF; border-color: #5D5FEF; color: #fff; }
.btn-form:hover, .btn-form:focus { background: #5D5FEF; border-color: #5D5FEF; color: #fff; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
.btn-blue:hover, .btn-blue:focus { background: #ffffff; border-color: #ffffff; color: #5D5FEF; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
.text-error > b { font-style: normal; }
.circle-btn { width: 16px; height: 16px; display: inline-block; position: absolute; border-radius: 50px; text-align: center; padding: 2px; line-height: 11px; background: rgba(56, 58, 68, 0.5); transform: matrix(1, 0, 0, -1, 0, 0); top: 15px; cursor: pointer; }
.circle-btn:hover { background: rgba(56, 58, 68, 0.8); }
.btn-next { left: 30px; }
.btn-close { right: 80px; }
.success-msg p { font-family: 'Lekton', sans-serif; font-style: normal; font-weight: bold; font-size: 14px; line-height: 14px; text-align: center; letter-spacing: -0.02em; color: #fff; }
.socila-link > li { display: inline-block; vertical-align: middle; margin-right: 10px; }
.socila-link > li:last-child { margin-right: 0px; }
.socila-link li > a { width: 18px; height: 18px; background: #fff; display: inline-block; font-size: 12px; text-align: center; padding: 2px; line-height: 14px; border-radius: 50%; color: #6c6e76; }
.socila-link li > a:hover { background: #5D5FEF; border-color: #5D5FEF; color: #fff; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
.other-links { text-align: center; margin-top: 10px; }
.other-links > p { color: #fff; font-size: 10px; font-weight: 500; margin-bottom: 5px; }
.already-acct { margin-top: 40px; text-align: center; }
.reg-msg-wrap { max-width: 180px; margin: 0px auto; }
.reg-msg-wrap .form-head { padding-left: 0px; }
.already-acct p { font-weight: bold; font-size: 14px; line-height: 14px; text-align: center; letter-spacing: -0.02em; color: #FFFFFF; font-family: 'Lekton', sans-serif; }
.already-acct p > a { font-size: 14px; }
.theme-link { color: #5D5FEF; }
.theme-link:hover { color: #fff; text-decoration: underline; }
.dob-grp-field { border: 1px solid #fff; }
.dob-grp-field> input { border-radius: 0px; background: #838383; border: none; border-right: 1px solid #FFFFFF; min-width: 40px; }
.dob-grp-field> input:last-child { border-right: none; }
.dob-grp-field> input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #fff; }
.dob-grp-field> input::-moz-placeholder { /* Firefox 19+ */
color: #fff; }
.dob-grp-field> input:-ms-input-placeholder { /* IE 10+ */
color: #fff; }
.dob-grp-field> input:-moz-placeholder { /* Firefox 18- */
color: #fff; }
.referral-code { max-width: 90px; margin: 0px auto; }
.form-head h5 > span { display: inline-block; vertical-align: middle; font-size: 16px; font-weight: normal; }
.thum-slide-list .owl-thumb-item { display: inline-block; vertical-align: middle; }
.avatar-slider-item { height: 160px; display: flex; align-items: center; justify-content: center; }
.avatar-slider-item > img { width: auto !important; margin: 0px auto; transform: scale(1.3); }
.owl-thumb-item { background-image: url('../../../../assets/images/slide-thum-bg.png'); background-repeat: no-repeat; background-size: cover; width: 37px; height: 40px; background-color: transparent; }
.owl-thumb-item > img { max-width: 25px; }
.owl-thumb-item > span { display: block; max-width: 26px; max-height: 20px; overflow: hidden; margin: 0px auto; }
.thum-slide-list { text-align: center; margin-top: 20px; }
.owl-thumb-item { margin-right: 15px; }
.owl-thumb-item:last-child { margin-right: 0px; }
.owl-thumb-item.active { transform: scale(1.3); }
.avatar-slider .owl-prev, .avatar-slider .owl-next { position: absolute; bottom: -49px; font-size: 14px !important; color: #fff !important; display: inline-block; width: 20px; height: 20px; }
.avatar-slider .owl-next { right: 10px !important; }
.avatar-slider button.owl-prev { left: 5px; }
.form-head > p { font-size: 10px; line-height: 10px; letter-spacing: -0.02em; color: #FFFFFF; font-style: italic; margin-top: 3px; }
.profile-setting { max-width: 260px; margin: 0px auto; }
.prof-form { padding-left: 15px; width: 50%; }
.prof-fig { width: 50%; }
.field-text { color: #fff; font-weight: bold; }
.prof-fig > img { width: 100%; }



/*************Side menu*****************/
.side-menu {
    min-width: 70px;
    margin: 0px auto;
    padding: 22px 6px;
    min-height: 202px;
    background-repeat: no-repeat;
    position: absolute;
    max-width: 68px;
    text-align: center;
    left: -24px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    background-image: url(../../../../assets/images/setting-side-img.png);
    background-size: cover;
    background-position: center;
    margin-top: -40px;
    z-index: -1;
    z-index: 9;
}
.setting-inUp-wrap {
    min-height: 100vh;
    padding: 50px 0px;
}
.setting-inUp-wrap .container {
    position: relative;
    max-width: 430px;
}

.setting-inUp-wrap  .signinUp-box {
    min-width: 330px;
    max-width: 330px;
    min-height: 375px;
    padding: 75px 30px 20px;
    background-image: url(../../../../assets/images/tabs-bg.png);
}

.side-menu ul {
    transform: rotate(6deg);
    padding: 0;
}

.side-menu ul li:nth-child(2) {
    margin: 16px 0 0 -31px;
}

.side-menu ul li:nth-child(3) {
    margin: 16px 0 0 -40px;
}

.side-menu ul li:nth-child(4) {
    margin: 16px 0 0 -38px;
}

.side-menu ul li:nth-child(5) {
    margin: 16px 0 0 -28px;
}

.side-menu ul li a {
    line-height: 0;
    display: block;
}

.side-menu ul li:first-child {
    margin: 14px 0 0 -12px;
}

/*******tabs design***********/
.seeting-audio .form-body {
    width: 185px;
}

.seeting-audio .form-head {
    padding: 0;
    margin-bottom: 5px;
}

.seeting-audio .form-body ul.nav.nav-tabs {
    width: 100%;
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 6px;
    overflow: hidden;
}

.seeting-audio .form-body ul.nav.nav-tabs li {
    width: 33.33%;
    border-left: 1px solid #fff;
    padding: 0;
}

.seeting-audio .form-body ul.nav.nav-tabs li:first-child {
    border: none;
}
.seeting-audio .form-body ul.nav.nav-tabs li a {
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    font-family: 'Lekton', sans-serif;
    display: block;
}
.seeting-audio .form-body .tab-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 6px;
    line-height: 7px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.seeting-audio .form-body .tab-content .default-table {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    overflow-x: hidden;
    height: 76px;
    margin-bottom: 8px;
    overflow-y: scroll;
}

.seeting-audio .form-body .tab-content .default-table::-webkit-scrollbar {
    display: none;
}

.seeting-audio .form-body .tab-content .default-table table {
    width: 100%;
}

.seeting-audio .form-body .tab-content .default-table table tr th, .seeting-audio .form-body .tab-content .default-table table tr td {
    padding: 4px 10px;
}

.seeting-audio .form-body .tab-content .default-table table tr th {
    background: rgba(93, 95, 239, 0.6);
    border: 0.5px solid #5D5FEF;
    font-family: Lekton;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 8px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.seeting-audio .form-body .tab-content .default-table table tr td {
    background: rgba(93, 95, 239, 0.29);
    font-family: Lekton;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 8px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.seeting-audio .form-body .velume {
     padding-bottom: 7px; 
     padding-top: 3px; 
}

.seeting-audio .form-body .velume h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 9px;
    color: #FFFFFF;
    min-width: 51px;
    text-align: right;
}

.seeting-audio .form-body .velume .velume-img {
    width: 90px;
    padding-left: 6px;
}

.seeting-audio .form-body .velume .velume-img img {
    display: block;
}

.seeting-audio .form-body ul.nav.nav-tabs li a {
    padding: 5px 7px;
    display: block;
}

.seeting-audio .form-body ul.nav.nav-tabs li a.active {
    background: #5D5FEF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/***mute unmute design*******/
.speaker .mute-img {
    display: block;
    left: 5px;
    width: 9px;
    height: 6px;
    top: 0;
}

.speaker .unmute-img {
    display: none;
}

.speaker {
    position: relative;
    display: block;
}

.speaker.mute .mute-img {
    display: none;
}

.speaker.mute .unmute-img {
    display: block;
    width: 9px;
    height: 6px;
}

.speaker img {
    display: block;
}

 

/*************toggle design*****************/
 .switch-field {
  position: relative;
  display: inline-block;
  width: 21px;
  height: 11px;
  margin: 0;
}
.velume-sec .form-group {
    margin: 0;
}

.velume-img {
    line-height: 1;
}
 .switch-field > input { 
  opacity: 0;
  width: 0;
  height: 0;
}

 .switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}

 .switch-slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: -1px;
  bottom: -1px;
  -webkit-transition: .4s;
  transition: .4s;
  background: rgba(44, 47, 58, 0.35);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
}

.switch-field input:checked + .switch-slider {
  background-color: transparent;
}

.switch-field input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch-field input:checked + .switch-slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
  background-color: #555861;
}


.switch-field .switch-slider.round {
  border-radius: 34px;
}

.switch-field .switch-slider.round:before {
  border-radius: 50%;
  background-color: #5d5fef;
}

.switch-field .theme-form .form-group {
    margin-bottom: 0;
    line-height: 0;
}


.value-50 h2 {
    min-width: 68px !important;
}
.value-50 {
    width: calc(50% - 12px);
    margin: 0 6px;
}

#levels .velume-sec h2 {
    min-width: 105px;
    text-align: right;
    padding-right: 6px;
}

#levels .velume-sec h2 {
    min-width: 105px;
    text-align: right;
    padding-right: 6px;
}

#output .velume h2 {
    min-width: 88px;
}
.switch-field-cntrl > span {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    font-family: 'Sunflower', sans-serif;
    font-style: normal;
    color: #fff;
}

.seeting-audio .form-body ul.nav.nav-tabs.movement-tabs {max-width: 138px;margin-bottom: 20px;}
.seeting-audio .form-body ul.nav.nav-tabs.movement-tabs li {width: 50%;}
.movement-text {max-width: 74px;width: 74px;}
.movement-text h2 {margin-bottom: 3px;}
.movement-text p {font-family: Lekton;font-style: normal;font-weight: normal;font-size: 5px;line-height: 5px;letter-spacing: -0.02em;color: #FFFFFF;}
#Teleport .movement-text {max-width: 72px;}
.seeting-audio .form-body.movement-page .tab-content p {display: inherit;}
.movement-com {padding-bottom: 6px;}
.seeting-audio .form-body.movement-page .velume .velume-img {padding-left: 22px;}
