@use "../styles/theme.scss";

:local(.border-grey) {
  border: 2px solid rgba(0, 0, 0, 0.2);
}

:local(.background-grey) {
  background-color: theme.$lightgrey;
}

:local(.background-white) {
  background-color: theme.$white;
}

:local(.scopes) {
  padding-right: theme.$spacing-xl;
}

:local(.scope) {
  padding-right: theme.$spacing-md;
}
