@use "../styles/theme.scss";

:local(.border-grey) {
  border: 1px solid theme.$border2-color;
}

:local(.background-grey) {
  background-color: theme.$background3-color;
}

:local(.background-white) {
  background-color: theme.$background1-color;
}

:local(.scopes) {
  padding-right: theme.$spacing-xl;
}
