@use "../styles/theme.scss";

:local(.border-grey) {
  border: 1px solid theme.$grey;
}

:local(.background-grey) {
  background-color: theme.$lightgrey;
}

:local(.background-white) {
  background-color: theme.$white;
}

:local(.scopes) {
  padding-right: theme.$spacing-xl;
}
