.ant-menu-item.selected {
    background-color: rgb(129, 129, 255);
    color: white;
}

.ant-menu-item.selected:hover {
    background-color: rgb(129, 129, 255);
    color: white;
}

.ant-menu-item:hover {
    border: 1px solid rgb(129, 129, 255);
}