.ant-menu-item.selected {
    background-color: rgb(129, 129, 255);
    color: white;
}

.ant-menu-item.selected:hover {
    background-color: rgb(129, 129, 255);
    color: white;
}

.ant-menu-item:hover {
    border: 1px solid rgb(129, 129, 255);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-menu {
    border-inline-end: none !important;
}

.ant-card {
    background-color: #fbfbfb;
    border-color: #e0e0e0;
}