.ant-menu-item.selected {
    background-color: rgb(129, 129, 255);
    color: white;
}

.ant-menu-item.selected:hover {
    background-color: rgb(129, 129, 255);
    color: white;
}

.ant-menu-item:hover {
    border: 1px solid rgb(129, 129, 255);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-menu {
    border-inline-end: none !important;
}

.ant-card {
    background-color: #fbfbfb;
    border-color: #e0e0e0;
}

.fixed-menu {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky !important;
    height: 300px;
    top: 20px;
    bottom: auto;
}