version: 2.1

aliases:
  - &defaults
    working_directory: ~/repo
    docker:
      - image: circleci/node:14.5-browsers
    resource_class: medium+

jobs:
  build_and_test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - run: npm ci --loglevel verbose
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}
      - run: npm test
      - store_artifacts:
          path: dist
      - persist_to_workspace:
          root: .
          paths:
            - node_modules
  deploy_storybook:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: npm run deploy-storybook -- --ci

workflows:
  version: 2
  build_test_and_deploy_storybook:
    jobs:
      - build_and_test
      - deploy_storybook:
          requires:
            - build_and_test
          filters:
            branches:
              only: room-ui-redesign
