@use "../styles/theme.scss";

:local(.modal-content) {
  line-height: 1.25;
}

:local(.terms) {
  color: theme.$darkgrey;
  font-size: theme.$font-size-xs;
}

:local(.newsletter) {
  color: theme.$darkgrey;
  font-size: theme.$font-size-sm;
  line-height: 1.5;
}