.loader-1 {
    .loading {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        background: linear-gradient(15deg, #13547a, #80d0c7);
    }

    .loading-container {
        position: relative;
        width: 110px;
        height: 110px;
        margin: auto;
    }

    .loading-container .item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #fff;
        border-radius: 50%;
        border-top-color: transparent;
        border-bottom-color: transparent;
        animation: spin 2s ease infinite;
    }

    .loading-container .item:nth-child(1) {
        width: 50px;
        height: 50px;
    }

    .loading-container .item:nth-child(2) {
        width: 70px;
        height: 70px;
        animation-delay: 0.1s;
    }

    .loading-container .item:nth-child(3) {
        width: 90px;
        height: 90px;
        animation-delay: 0.2s;
    }

    .loading-container .item:nth-child(4) {
        width: 110px;
        height: 110px;
        animation-delay: 0.3s;
    }

    @keyframes spin {
        50% {
            transform: translate(-50%, -50%) rotate(180deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
}

.loader-2 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent !important;

    .loader {
        --path: #2F3545;
        --dot: #0099ff;
        --duration: 3s;
        width: 44px;
        height: 44px;
        position: relative;

        &:before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            display: block;
            background: var(--dot);
            top: 37px;
            left: 19px;
            transform: translate(-18px, -18px);
            animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }

        svg {
            display: block;
            width: 100%;
            height: 100%;

            rect,
            polygon,
            circle {
                fill: none;
                stroke: var(--path);
                stroke-width: 10px;
                stroke-linejoin: round;
                stroke-linecap: round;
            }

            polygon {
                stroke-dasharray: 145 (221 - 145) 145 (221 - 145);
                stroke-dashoffset: 0;
                animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }

            rect {
                stroke-dasharray: (256 / 4 * 3) (256 / 4) (256 / 4 * 3) (256 / 4);
                stroke-dashoffset: 0;
                animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }

            circle {
                stroke-dasharray: (200 / 4 * 3) (200 / 4) (200 / 4 * 3) (200 / 4);
                stroke-dashoffset: 75;
                animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }
        }

        &.triangle {
            width: 48px;

            &:before {
                left: 21px;
                transform: translate(-10px, -18px);
                animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }
        }
    }

    @keyframes pathTriangle {
        33% {
            stroke-dashoffset: 74;
        }

        66% {
            stroke-dashoffset: 147;
        }

        100% {
            stroke-dashoffset: 221;
        }
    }

    @keyframes dotTriangle {
        33% {
            transform: translate(0, 0);
        }

        66% {
            transform: translate(10px, -18px);
        }

        100% {
            transform: translate(-10px, -18px);
        }
    }

    @keyframes pathRect {
        25% {
            stroke-dashoffset: 64;
        }

        50% {
            stroke-dashoffset: 128;
        }

        75% {
            stroke-dashoffset: 192;
        }

        100% {
            stroke-dashoffset: 256;
        }
    }

    @keyframes dotRect {
        25% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(18px, -18px);
        }

        75% {
            transform: translate(0, -36px);
        }

        100% {
            transform: translate(-18px, -18px);
        }
    }

    @keyframes pathCircle {
        25% {
            stroke-dashoffset: 125;
        }

        50% {
            stroke-dashoffset: 175;
        }

        75% {
            stroke-dashoffset: 225;
        }

        100% {
            stroke-dashoffset: 275;
        }
    }

    .loader {
        display: inline-block;
        margin: 0 16px;
    }
}

.loader-1 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent !important;

    .loader {
        --path: #2F3545;
        --dot: #0099ff;
        --duration: 3s;
        width: 44px;
        height: 44px;
        position: relative;

        &:before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            display: block;
            background: var(--dot);
            top: 37px;
            left: 19px;
            transform: translate(-18px, -18px);
            animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }

        svg {
            display: block;
            width: 100%;
            height: 100%;

            rect,
            polygon,
            circle {
                fill: none;
                stroke: var(--path);
                stroke-width: 10px;
                stroke-linejoin: round;
                stroke-linecap: round;
            }

            polygon {
                stroke-dasharray: 145 (221 - 145) 145 (221 - 145);
                stroke-dashoffset: 0;
                animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }

            rect {
                stroke-dasharray: (256 / 4 * 3) (256 / 4) (256 / 4 * 3) (256 / 4);
                stroke-dashoffset: 0;
                animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }

            circle {
                stroke-dasharray: (200 / 4 * 3) (200 / 4) (200 / 4 * 3) (200 / 4);
                stroke-dashoffset: 75;
                animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }
        }

        &.triangle {
            width: 48px;

            &:before {
                left: 21px;
                transform: translate(-10px, -18px);
                animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }
        }
    }

    @keyframes pathTriangle {
        33% {
            stroke-dashoffset: 74;
        }

        66% {
            stroke-dashoffset: 147;
        }

        100% {
            stroke-dashoffset: 221;
        }
    }

    @keyframes dotTriangle {
        33% {
            transform: translate(0, 0);
        }

        66% {
            transform: translate(10px, -18px);
        }

        100% {
            transform: translate(-10px, -18px);
        }
    }

    @keyframes pathRect {
        25% {
            stroke-dashoffset: 64;
        }

        50% {
            stroke-dashoffset: 128;
        }

        75% {
            stroke-dashoffset: 192;
        }

        100% {
            stroke-dashoffset: 256;
        }
    }

    @keyframes dotRect {
        25% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(18px, -18px);
        }

        75% {
            transform: translate(0, -36px);
        }

        100% {
            transform: translate(-18px, -18px);
        }
    }

    @keyframes pathCircle {
        25% {
            stroke-dashoffset: 125;
        }

        50% {
            stroke-dashoffset: 175;
        }

        75% {
            stroke-dashoffset: 225;
        }

        100% {
            stroke-dashoffset: 275;
        }
    }

    .loader {
        display: inline-block;
        margin: 0 16px;
    }
}