@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.manager-page {
    width: 100%;
    padding: 0;
    background-size: 100%;
    // background-image: url(./background-manager.jpg);
    background-attachment: fixed;

    .btn-action {
        margin-right: 25px;
    }

    .row_1 {
        margin-top: 20px;
        width: 80%;
        margin-left: 10%;
        background: rgba(209, 209, 209, 0.39);
        height: 100px;
        line-height: 100px;
        border-radius: 10px;
        padding: 0px 20px;

        .text_1 {
            color: #2b81f7;
            font-weight: 600;
            font-size: 30px;
        }
    }

    .btn {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        float: right;
        align-items: center;
        appearance: none;
        background-size: calc(100% + 20px) calc(100% + 20px);
        border-radius: 100px;
        border-width: 0;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-flex;
        font-family: CircularStd, sans-serif;
        font-size: 1rem;
        height: auto;
        justify-content: center;
        line-height: 2;
        padding: 6px 20px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: background-color .2s, background-position .2s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: top;
        white-space: nowrap;

        &:hover {
            background-position: -20px -20px;
        }

        &:focus {
            &:not(:active) {
                box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
            }
        }
    }

    .btn-publish {
        background-color: #3EB2FD;
        background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
        color: #FFFFFF;
        width: 100%;
        margin-top: 35px;
    }

    .center-flex {
        justify-content: center;
    }

    .btn-backhome {
        background-color: #3EB2FD;
        background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
        color: #FFFFFF;
        width: 200px;
        margin-top: 25px;
    }

    .btn-unpublish {
        background-color: #3EB2FD;
        background-image: linear-gradient(1deg, rgba(246, 98, 18, 1), rgba(226, 20, 20, 1) 100%);
        color: #FFFFFF;
        width: 100%;
        margin-top: 35px;
        padding: 6px 10px !important;
    }

    .btn-open {
        background-color: rgb(9, 186, 27);
        background-image: linear-gradient(1deg, rgb(50, 176, 18), rgb(52, 208, 0) 100%);
        color: #FFFFFF;
        width: 100%;
        margin-top: 10px;

    }

    .btn-close {
        background-color: rgb(186, 9, 168);
        background-image: linear-gradient(1deg, rgb(176, 18, 163), rgb(208, 0, 201) 100%);
        color: #FFFFFF;
        width: 100%;
        margin-top: 10px;

    }

    .btn-edit {
        background-color: rgb(228, 171, 27);
        background-image: linear-gradient(1deg, rgb(219, 162, 17), rgba(255, 196, 0, 1) 100%);
        color: #FFFFFF;
        width: 100%;
        margin-top: 10px;

    }

    .btn-delete {
        background-color: #3EB2FD;
        background-image: linear-gradient(1deg, rgba(246, 98, 18, 1), rgba(226, 20, 20, 1) 100%);
        color: #FFFFFF;
        width: 100%;
        margin-top: 90px;
        padding: 6px 40px !important;
    }

    .btn:active,
    .btnp:focus {
        outline: none;
    }

    .display-name {
        position: relative;
        margin-right: 22px;
        float: right;
        font-weight: bold;
        line-height: 45px;

        .nameA {
            cursor: pointer;
            color: #333;

            &:hover {
                color: #111;
            }
        }

        .gotohome {
            font-size: 16px;
            cursor: pointer;
        }


        .gotoadmin {
            position: relative;
            font-size: 17px;
            margin-right: 15px;
            color: #ffc400;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                color: #eab400;
            }
        }

        .gotospoke {
            position: relative;
            font-size: 17px;
            margin-right: 15px;
            color: #34C049;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                color: #278f37;
            }
        }
    }

    .title {
        font-size: 29px;
        margin-top: 35px;
        margin-bottom: 45px;
        text-align: center;
        font-weight: 500;
        color: #0099ff;
    }

    .row_2 {
        width: 80%;
        margin-left: 10%;
        min-height: 86vh;
    }

    .col {
        margin-top: 30px;
    }

    .items {
        position: relative;
        margin-top: 26px;
        width: 100%;
        height: 220px;
        background: rgba(209, 209, 209, 0.39);
        border-radius: 10px;
        display: flex;

        .icon_edit_media {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 34px;
            color: #FFF;
            cursor: pointer;

            &:hover {
                font-size: 50px;
            }
        }

        &:hover {
            //cursor: pointer;
            background: rgba(209, 209, 209, 0.7);
            //transform: scale(1.01);
            transition: 0.2s ease-in;
        }

        img {
            object-fit: cover;
            height: 100%;
            width: 25%;
            float: left;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        .content {
            font-family: 'Poppins', sans-serif;
            width: 62%;
            padding: 30px;
            text-align: left;
            color: #111;
            line-height: 42px;

            a {
                color: #0099ff;
                font-size: 25px;
            }
        }
    }

    .btn-create {
        z-index: 10000;
        background-color: #3EB2FD;
        background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
        width: 70px;
        height: 70px;
        margin-top: 55px;
        font-size: 30px;
        position: fixed;
        right: 35px;
        bottom: 15px;

        img {
            transform: scale(1.8);
        }

        &:hover {
            transform: scale(1.05);

            img {
                transform: rotate(-90deg) scale(1.35);
                transition: 0.7s ease-in;
            }
        }
    }

    .d-flex {
        display: flex;
        grid-template-columns: 1fr 1fr
    }

    .title_access_err {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        line-height: 40px;
    }

    .name-tour {
        display: none;

    }

    .text-bold {
        font-weight: 600;
        color: #333;
        font-size: 25px;
    }

    @media (max-width:1780px) {
        .items img {
            width: 24%;
        }

        .items .content {
            width: 60%;
            padding: 25px !important;
            font-size: 22px;
        }
    }

    @media (max-width:1350px) {
        .items img {
            width: 22%;
        }

        .items .content {
            width: 60%;
            padding: 20px !important;
            font-size: 20px;
        }
    }

    @media (max-width:1200px) {
        .items img {
            width: 72%;
            margin-right: 20px;
        }

        .items .content:not(.name-tour) {
            display: none;
        }

    }

    @media (max-width:860px) {
        .items {
            position: relative;
            height: 300px;
        }

        .items img {
            width: 100%;
            margin-right: 0px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        .btn-action {
            position: absolute;
            width: 60%;
            margin-left: 20%;

        }

        .btn-publish {
            margin-top: 160px;
        }

        .name-tour {
            display: block;
            position: absolute;
            top: 25px;
            left: 15px;
            font-style: italic;
            font-weight: 800;
            letter-spacing: 3px;
            color: rgba(255, 255, 255, 0.85);
        }
    }

    .IconFa {
        margin-right: 10px;
        margin-top: 7px;
        color: #444;
    }

    .ml-1 {
        margin-left: 10px;
    }

    .icon-setting-spoke {
        position: absolute;
        margin-left: -22px;
        margin-top: 13px;
    }

    .icon-setting-admin {
        position: absolute;
        margin-left: 70px;
        margin-top: -32px;
    }


}

.height-100vh {
    height: 100vh;
}

.warning-content {
    padding-top: 40vh;
}

.margintop30vh {
    margin-top: 30vh;
}

.warning-content p {
    text-align: center;
    font-size: 27px;
    color: #2b81f7;
    margin-bottom: 5px;
}


.paddingtop25vh {
    padding-top: 22vh;
}

.margin-bottom20px {
    margin-bottom: 25px;
}

@media (max-width:500px) {
    .manager-page {
        .row_1 {
            .text_1 {
                display: none;
            }
        }
    }
}

.form-custom-media {
    position: relative;
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;

    .w-100 {
        width: 100%;
    }

    .items {
        display: flex;
        margin-bottom: 20px;

        .w-30 {
            width: 25%;

            img,
            video,
            model-viewer {
                border-radius: 5px;
                width: 180px;
                height: 120px;
                object-fit: contain;
                background: #efefef;
            }
        }

        .w-70 {
            position: relative;
            width: 70%;
            display: block;
            justify-content: center;
            align-items: center;
        }

        .mb-3 {
            margin-top: 2px;
            margin-bottom: 8px;
        }
    }
}

.icon_type {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #111;
    font-size: 25px;
}

.tabs-Admin {
    display: flex;
    justify-content: center;

    button {
        width: 100%;
        background: #efefef;
        border-radius: 5px;
        padding: 15px 50px;
        margin-top: 30px;
        color: #333;

        &.active {
            background: #0099ff;
            color: #fff;
        }

        &:hover {
            background: #0099ffaa;
            color: #fff;
        }
    }
}

@media (max-width:500px) {
    .tabs-Admin {
        display: block;

        button {
            margin-left: 0 !important;
            margin-top: 10px;
        }
    }

    .display-name .nameA {
        display: none;

    }

    .manager-page .items {
        display: flex !important;
        align-items: center !important;
    }

    .btn-list-object {
        position: absolute;
        font-size: 35px;
        margin-top: 0px !important;
        left: 0px;
        cursor: pointer;
        color: #fff;
    }
}

.d-flex-icon {
    margin-top: 50px;
    display: flex;
    width: 100%;

    span {
        display: flex;
        width: 100px;
        justify-content: center;
        align-content: center;

        .icon {
            margin-left: 20px;
            font-size: 35px;
            margin-top: 4px;
        }
    }
}

.btn-list-object {
    position: absolute;
    font-size: 50px;
    margin-top: 86px;
    right: 100px;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
        transition: .5s;
    }
}

.list_obj {
    h3 {
        margin-top: 10px;
        width: 80%;
    }

    .icon_type {
        position: absolute;
        right: 5px;
        top: 45px;
        color: #111;
        font-size: 25px;
    }
}

.checkbox_Url_change {
    margin-top: 15px !important;

    input.largerCheckbox {
        width: 25px;
        height: 25px;
    }

    .textCheckbox {
        margin-left: 20px;
        margin-bottom: 20px;
        position: absolute;
        font-size: 17px;
        font-weight: 500;
    }
}


@media (max-width:500px) {
    .form-custom-media .items {
        display: block;
        margin-bottom: 20px;
    }

    .form-custom-media .items .w-30,
    .form-custom-media .items .w-70 {
        width: 100%;
    }

    .form-custom-media .items .w-30 img,
    .form-custom-media .items .w-30 video {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .form-custom-media .items .mb-3 {
        margin-top: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 220px;
        text-transform: capitalize;
        margin-bottom: 8px;
        width: 100%;
    }

    .checkbox_Url_change .textCheckbox {
        margin-left: 20px;
        margin-bottom: 20px;
        position: absolute;
        width: 80%;
        font-size: 14px;
        font-weight: 400;
    }

    .list_obj .icon_type {
        top: 37px;
    }
}

@media (max-width:500px) {
    .popup-overlay .d-flex {
        display: block;
    }

    .popup-overlay .w-60,
    .popup-overlay .w-40 {
        width: 100%;
    }

    .popup-overlay .modal>.content {
        max-height: 65vh;
        overflow-y: scroll;
    }

    .popup-overlay .w-40 {
        padding-left: 0 !important;
    }

    .popup-overlay .d-flex-form {
        width: 100%;
        display: block;
    }

    .popup-overlay .item-input {
        /* margin-right: 20px; */
        margin-right: 0 !important;
    }

    .popup-overlay .switch {
        margin-bottom: 12px;
    }

    .popup-overlay .textarea100 {
        max-height: 120px;
    }
}


.lds-dual-ring {
    position: absolute;
    display: inline-block;
    margin-top: -10px;
    margin-left: -10px;
    width: 25px;
    height: 25px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 0px;
    border-radius: 50%;
    border: 4px solid #0099ff;
    border-color: #0099ff transparent #0099ff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}