{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "exclude": [
          "transform-regenerator"
        ],
        "targets": {
          "browsers": [
            "last 2 major versions",
            "not <= 0.5%",
            "not dead"
          ]
        },
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    [
      "react-intl",
      {
        "messagesDir": "./public/messages",
        "enforceDescriptions": false
      }
    ],
    "transform-react-jsx-img-import",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining"
  ]
}