:local(.container) {
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
}

:local(.bg) {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.35);
}

:local(.nametag) {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-family: sans-serif;
  color: white;
  margin: 0 10px 0 0;
}

:local(.nametag:hover) {
  color: #00eeee;
}

:local(.avatar) {
  display: flex;
  width: 48px;
  height: 48px;
  background-size: 100%;
  background-image: url(../assets/hud/avatar.jpg);
}

:local(.avatar:hover) {
  transform: scaleX(-1);
}

:local(.mic) {
  display: flex;
  width: 48px;
  height: 48px;
  mask: url(../assets/hud/unmuted.png);
  mask-size: 48px;
  background-color: white;
}

:local(.mic:hover){
    background-color: cyan;
}

:local(.mic.muted:hover){
    background-color:cyan;
}

:local(.mic:active) {
  background-color: red;
}

:local(.mic.muted) {
  mask: url(../assets/hud/muted.png);
  mask-size: 48px;
}

:local(.mic.muted:active) {
  background-color: green;
}
