:local(.horizontalRegion) {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    height: 48px;
    width: 100%;
}

:local(.bgShown) {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 30%;
    background-color:#030303;
}

:local(.nametagShown){
    display: flex;
    width: 192px;
    align-self: center;
    justify-content: center;
    font-size: 32px;
    font-family: sans-serif;
    color: white;
}

:local(.avatarImageShown) {
    display: flex;
    /* position: absolute; */
    /* top: 10px; */
    /* left: calc(50vw + 48px); */
    width: 48px;
    /* height: 32px; */
    background-size: 100%;
    background-image: url(../assets/hud/avatar.png);
    background-repeat: no-repeat;
    align-self: center;
}

:local(.avatarImageHidden) {
    /* position: absolute; */
    /* top: 10px; */
    /* left: calc(50vw + 48px); */
    /* width: 0px; */
    /* height: 0px; */
    background-size: 100%;
    background-image: url(../assets/hud/avatar.png);
}