:local(.indicator) {
    position: absolute;
    top: 10px;
    left: calc(50vw - 16px);
    width: 32px;
    height: 32px;
    background-size: 100%;
}

:local(.indicator.muted) {
    background-image: url(../assets/hud/muted.png);
}
