:local(.indicator) {
    width: 48px;
    height: 48px;
    mask: url(../assets/hud/unmuted.png);
    mask-size: 48px;
    background-color: white;
}

:local(.indicator.muted) {
    mask: url(../assets/hud/muted.png);
    mask-size: 48px;
}
