:local(.browser) {
  
}

:local(.address-bar) {
  height: 64px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;

  & > * {
    margin-right: 16px;
  }

  & > :last-child {
    margin-right: 0;
  }
}

:local(.address-field) {
  flex: 1;
  border-radius: 6px;
  height: 32px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border: none;
}