:local(.video) {
  height: 100px;
  background: black;
  margin: 5px;
}

:local(.container) {
    position: absolute;
    bottom: 0;
    display: flex;
    visibility: hidden; /* toggle to show debug video elements */
}
