.a-enter-vr {
  top: 90px;
  bottom: auto;
}

#loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10001;
  background: #eaeaea no-repeat url("./assets/loading.gif") center center;
  opacity: 0.9;
}

#ui-root {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  position: absolute;
}

.rs-base {
  top: auto;
  bottom: 20px;
}
