.a-enter-vr {
  top: 90px;
  bottom: auto;
}

#loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10001;
  background: #eaeaea no-repeat url("./assets/loading.gif") center center;
  opacity: 0.9;
}


.a-canvas.a-grab-cursor:hover {
	cursor: none;
}

.a-canvas.a-grab-cursor:active {
	cursor: none;
}
