@import 'src/fonts';
@import 'src/loader';

$dark-transparent: rgba(0, 0, 0, 0.4);
$darker-transparent: rgba(0, 0, 0, 0.6);
$darkest-transparent: rgba(0, 0, 0, 0.95);
$grey-text: rgba(192, 192, 192, 1.0);
$light-text: rgba(240, 240, 240, 1.0);
$dark-grey: rgba(128, 128, 128, 1.0);
$darker-grey: rgba(64, 64, 64, 1.0);

%default-font {
  font-family: 'Zilla Slab', sans-serif;
}

%rounded-border {
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 14px;
}

%bottom-button {
  font-size: 1em;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 30px;
  cursor: pointer;
}

%top-title {
  font-size: 1.3em;
}

%top-subtitle {
  font-size: 1.0em;
  padding-top: 4px;
}

.a-enter-vr {
  display: none;
}

.ui {
  @extend %default-font;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  color: white;
}

.blurred {
  filter: blur(5px);
}

.ui-dialog {
  display: grid;
  grid-template-columns: 1fr 20px minmax(200px, 400px) 20px 1fr;
  grid-template-rows: 1fr 20px minmax(400px, 600px) 20px 1fr;
  width: 100%;
  height: 100%;
}

.ui-dialog--darkened {
  background-color: $dark-transparent;
}

.ui-dialog-box {
  grid-column: 3;
  grid-row : 3;
  position: relative;
}

.ui-dialog-box-contents {
  background-color: $darker-transparent;
  border-radius: 8px;
  pointer-events: auto;
  width: 100%;
  height: 100%;
}

.ui-dialog-box--backgrounded {
}

.ui-dialog-box-contents--backgrounded {
  filter: blur(1px);
  opacity: 0.7;
  pointer-events: none;
}

.loading-panel {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-panel__title {
  @extend %default-font;
  font-size: 1.2em;
}

.exited-panel {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.exited-panel__title {
  font-size: 1.2em;
}

.exited-panel__subtitle {
  font-size: 0.8em;
}

.loader-wrap {
  position: relative;
  width: 100px;
  height: 90px;
}

.rs-base {
  top: auto;
  bottom: 20px;
}

.entry-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-entry {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: auto;
}

.profile-entry__box {
  height: 150px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  flex: 1 1 100%;
}

.profile-entry__box--darkened {
  background-color: $darkest-transparent;
}

.profile-entry__subtitle {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  color: $grey-text;
}

.profile-entry__form-field-text {
  @extend %rounded-border;
  @extend %default-font;

  color: $light-text;
  font-size: 1.2em;
  background-color: transparent;
  line-height: 2.0em;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.profile-entry__form-submit {
  @extend %default-font;
  border: none;

  margin: 8px;
  width: 100px;
  line-height: 1.5em;
  font-size: 1.0em;

  background-color: transparent;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.profile-info-header {
  display: flex;
  flex: 1 1 40px;
  width: 100%;
}

.profile-info-header__icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 15px;
}

.profile-info-header__profile_display_name {
  cursor: pointer;
  flex: 6 1 auto;
  font-size: 1.2em;
  line-height: 50px;
}

.profile-info-header__app_name {
  font-size: 1.8em;
  padding-right: 18px;
  line-height: 50px;
}

.entry-button--bolded {
  font-weight: bold;
}

.entry-button__subtitle {
  font-size: 0.7em;
  color: $light-text;
}

.entry-panel {
  display: flex;
  flex-direction: column;
  flex: 10 1 auto;
  justify-content: center;
}

.entry-panel__secondary {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  color: $grey-text;
}

.entry-button {
  display: flex;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.entry-button__icon {
  flex: 1 1 90px;
}

.entry-button__label {
  flex: 10 1 auto;
  margin-left: 20px;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.audio-setup-panel {
  display: flex;
  flex-direction: column;
  flex: 10 1 auto;
  justify-content: flex-start;
  align-items: center;
}

.audio-setup-panel__title {
  @extend %top-title;
}

.audio-setup-panel__subtitle {
  @extend %top-subtitle;
}

.audio-setup-panel__device-chooser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.audio-setup-panel__enter-button {
  @extend %bottom-button;
}

.audio-setup-panel__device-chooser__dropdown {
  @extend %rounded-border;
  @extend %default-font;

  background-color: black;
  padding: 6px;
  color: white;
  font-size: 1.1em;
  width: 90%;
}

.audio-setup-panel__device-chooser__mic-icon {
  position: absolute;
  left: 7.5%;
  top: 10px;
}

.audio-setup-panel__levels {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.audio-setup-panel__levels__mic {
  position:relative;
  width: 111px;
  height: 111px;
}

.audio-setup-panel__levels__mic_icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.audio-setup-panel__levels__speaker {
  position:relative;
  width: 111px;
  height: 111px;
}

.audio-setup-panel__levels__speaker_icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.audio-setup-panel__levels__level {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1.0;
  z-index: 1;
}

.audio-setup-panel__hmd-mic-warning {
  margin: 20px;
}

.audio-setup-panel__hmd-mic-warning__label {
  vertical-align: middle;
  margin-left: 5px;
}

.audio-setup-panel__hmd-mic-warning__icon {
  vertical-align: middle;
}

.mic-grant-panel {
  display: flex;
  flex-direction: column;
  flex: 10 1 auto;
  justify-content: flex-start;
  align-items: center;
}

.mic-grant-panel__title {
  @extend %top-title;
}

.mic-grant-panel__subtitle {
  @extend %top-subtitle;
}

.mic-grant-panel__icon {
  flex: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mic-grant-panel__next {
  @extend %bottom-button;
  margin: auto;
  flex: 1 1 20px;
}

.autoexit-panel {
  display: flex;
  flex-direction: column;
  flex: 10 1 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

.autoexit-panel__title {
  @extend %top-title;
}

.autoexit-panel__subtitle {
  @extend %top-subtitle;
}

.autoexit-panel__cancel-button {
  @extend %bottom-button;
  margin-top: 20px;
  cursor: pointer;
}

