$dark-transparent: rgba(0, 0, 0, 0.5);

.a-enter-vr {
  display: none;
}

.ui {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  color: white;
}

.blurred {
  filter: blur(5px);
}

.ui-dialog {
  display: grid;
  grid-template-columns: 1fr 20px minmax(200px, 400px) 20px 1fr;
  grid-template-rows: 1fr 20px minmax(400px, 600px) 20px 1fr;
  width: 100%;
  height: 100%;
}

.ui-dialog--darkened {
  display: grid;
  grid-template-columns: 1fr 20px minmax(200px, 400px) 20px 1fr;
  grid-template-rows: 1fr 20px minmax(400px, 600px) 20px 1fr;
  width: 100%;
  height: 100%;
  background-color: $dark-transparent;
}

.ui-dialog-box {
  grid-column: 3;
  grid-row : 3;
  background-color: black;
  border-radius: 4px;
  pointer-events: auto;
}

.loading-panel {
  background-color: black;
  width: 100%;
  height: 100%;
}

.rs-base {
  top: auto;
  bottom: 20px;
}
