@use '../styles/theme';

:local(.icon-button) {
  background: transparent;
  border-width: 0;
  border-color: transparent;

  &:hover {
    svg {
      *[stroke=\#000] {
        stroke: theme.$blue-hover;
      }
  
      *[fill=\#000] {
        fill: theme.$blue-hover;
      }
    }
  }

  &:active {
    svg {
      *[stroke=\#000] {
        stroke: theme.$blue-pressed;
      }
  
      *[fill=\#000] {
        fill: theme.$blue-pressed;
      }
    }
  }
}
