@use "../styles/theme";

:local(.outer-wrapper) {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  border: 1px solid theme.$darkgrey;
  border-radius: theme.$border-radius-regular;
  color: theme.$black;
  overflow: hidden;

  &:focus-within  {
    border-width: 3px;
    border-color: theme.$blue;

    :local(.input-wrapper):first-child {
      :local(.text-input) {
        padding-left: 6px;
      }
    }
  }
}

:local(.input-wrapper) {
  flex: 1;
  height: 100%;
}

:local(.disabled) {
  cursor: not-allowed;
  color: theme.$darkgrey;
  background-color: theme.$lightgrey;
}

:local(.invalid) {
  border-color: theme.$red !important;
}

:local(.text-input) {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  padding-left: 8px;
  vertical-align: middle;
  
  &:focus {
    outline: none;
  }
}

:local(.invalid-icon) {
  margin: 0 8px;

  :local(.outer-wrapper):focus-within &:last-child {
    margin-right: 6px;
  }

  *[fill=\#000] {
    stroke: theme.$red;
  }

  *[stroke=\#000] {
    stroke: theme.$red;
  }
}
