@use "../styles/theme";

:local(.input-wrapper) {
  position: relative;
  display: flex;
  align-items: center;
}

:local(.text-input) {
  height: 40px;
  border: 1px solid theme.$darkgrey;
  border-radius: theme.$border-radius-regular;
  color: theme.$black;
  width: 100%;
  padding-left: 8px;
  vertical-align: middle;
  
  &:focus {
    outline: none;
    border-width: 3px;
    border-color: theme.$blue;
    padding-left: 6px;
  }

  &:disabled {
    cursor: not-allowed;
    color: theme.$darkgrey;
    background-color: theme.$lightgrey;
  }

  &:local(.invalid) {
    padding-right: 32px;
    border-color: theme.$red !important;
  }
}

:local(.invalid-icon) {
  position: absolute;
  right: 8px;

  *[fill=\#000] {
    stroke: theme.$red;
  }

  *[stroke=\#000] {
    stroke: theme.$red;
  }
}