#web3-overlay {
  transition: opacity 0.5s linear;
  opacity: 1;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 45px 20px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  visibility: hidden;
}

#web3-overlay button {
  position: absolute;
  top: 15px;
  right: 37px;
  padding: 8px;
  border: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: rgb(0, 120, 203);
  color: white;
  font-family: "DM Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#web3-overlay iframe {
  height: 100%;
  width: 100%;
  border: 0;
  background: white;
}