@import 'shared';

:local(.container) {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  pointer-events: none;

  &:local(.top) {
    top: 10px;
    height: 80px;
  }

  &:local(.column) {
    flex-direction: column;
    bottom: 0;
    z-index: 1;
  }
}

:local(.bottom) {
  margin-bottom: 20px;
}

:local(.hide) {
  display: none;
}

:local(.panel) {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-color: $hud-panel-background;
  border-radius: 30px;

  :local(.top-tip) {
    @extend %tip-bubble;
    top: 60px;

    width: 350px;

    @media(max-width: 465px) {
      width: 207px;
    }

    @media(max-width: 420px) {
      width: 189px;
    }

    @media(max-width: 420px) {
      width: 189px;
    }

    :local(.attach-point) {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $bright-blue;
      position: absolute;
      top: -5px;
    }

    :local(.attach_video_share_mode), :local(.attach_video_share_failed) {
      left: 90px;

      @media(max-width: 465px) {
        left: 27px;
      }

      @media(max-width: 420px) {
        left: 26px;
      }
    }

    :local(.attach_pen_mode) {
      right: 143px;

      @media(max-width: 465px) {
        right: 76px;
      }

      @media(max-width: 420px) {
        right: 71px;
      }
    }

    :local(.attach_mute_mode) {
      left: 143px;

      @media(max-width: 465px) {
        left: 76px;
      }

      @media(max-width: 420px) {
        left: 71px;
      }
    }

    :local(.attach_freeze_mode) {
      display: none;
    }
  }

  :local(.top-tip-no-hud) {
    top: -30px;
    width: auto;
    white-space: nowrap;
    height: 20px;

    span {
      padding-right: 12px;
    }
  }

  :local(.tip-cancel-text) {
    @extend %link-button;
    color: white;
  }

  :local(.tip-cancel) {
    color: $light-blue;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    border: none;
    outline-style: none;
    width: 32px;
    margin-right: 2px;
  }

  :local(.video-share-extra-options) {
    position: absolute;
    top: -6px;
    display: flex;
    flex-direction: column;
    border-radius: 28px;
    padding: 3px 3px 6px 3px;
    background-color: rgba(72, 72, 72, 0.2);
    border: 2px solid rgba(72, 72, 72, 0.3);
    pointer-events: auto;
    z-index: 1;

    :local(.iconButton) {
      margin-top: 4px;
    }

    :local(.iconButton):first-child {
      margin-top: 1px;
    }
  }
}

:local(.panel.up) {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding-top: 5px;
  padding-bottom: 45px;
  margin-bottom: -40px;
}

:local(.iconButton) {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline-style: none;
  width: 40px;
  height: 40px;
  background-size: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px 6px;
  border: 0;

  @media(max-width: 465px) {
    margin: 0px 4px;
  }

  @media(max-width: 420px) {
    margin: 0px 2px;
  }
}

:local(.iconButton.small) {
  width: 30px;
  height: 30px;
}

:local(.iconButton.large) {
  width: 80px;
  height: 80px;
  z-index: 1;
}

:local(.iconButton.video-share) {
  position: relative;
}

// This roundabout pattern is the only way I can get hovers to not happen on touch devices
:local(.iconButton.mute) {
  background-image: url(../hud/mute_off.png);
}
:local(.iconButton.mute:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/mute_off-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/mute_off.png);
  }
}

:local(.iconButton.mute.active) {
  background-image: url(../hud/mute_on.png);
}
:local(.iconButton.mute.active:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/mute_on-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/mute_on.png);
  }  
}

:local(.iconButton.pen) {
  background-image: url(../hud/pen_off.png);
}
:local(.iconButton.pen:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/pen_off-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/pen_off.png);
  }
}

:local(.iconButton.pen.active) {
  background-image: url(../hud/pen_on.png);
}
:local(.iconButton.pen.active:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/pen_on-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/pen_on.png);
  }  
}

:local(.iconButton.camera) {
  background-image: url(../hud/camera_off.png);
}
:local(.iconButton.camera:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/camera_off-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/camera_off.png);
  }
}

:local(.iconButton.camera.active) {
  background-image: url(../hud/camera_on.png);
}
:local(.iconButton.camera.active:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/camera_on-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/camera_on.png);
  }  
}

:local(.iconButton.freeze) {
  background-image: url(../hud/freeze_off.png);
}
:local(.iconButton.freeze:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/freeze_off-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/freeze_off.png);
  }
}
:local(.iconButton.freeze.active) {
  background-image: url(../hud/freeze_on.png);
}
:local(.iconButton.freeze.active:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/freeze_on-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/freeze_on.png);
  }
}

:local(.iconButton.spawn) {
  background-image: url(../hud/spawn.png);
}

:local(.iconButton.mobile-media-picker) {
  background-image: url(../hud/spawn_photo.png);
}

:local(.iconButton.share_camera) {
  background-image: url(../hud/share_camera_off.png);
}
:local(.iconButton.share_camera:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/share_camera_off-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/share_camera_off.png);
  }
}

:local(.iconButton.share_camera.active) {
  background-image: url(../hud/share_camera_on.png);
}
:local(.iconButton.share_camera.active:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/share_camera_on-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/share_camera_on.png);
  }
}

:local(.iconButton.share_screen) {
  background-image: url(../hud/share_screen_off.png);
}
:local(.iconButton.share_screen:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/share_screen_off-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/share_screen_off.png);
  }
}

:local(.iconButton.share_screen.active) {
  background-image: url(../hud/share_screen_on.png);
}
:local(.iconButton.share_screen.active:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/share_screen_on-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/share_screen_on-hover.png);
  }
}

:local(.iconButton.share_window) {
  background-image: url(../hud/share_window_off.png);
}
:local(.iconButton.share_window:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/share_window_off-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/share_window_off.png);
  }
}
:local(.iconButton.share_window.active) {
  background-image: url(../hud/share_window_on.png);
}
:local(.iconButton.share_window.active:hover) {
  @media (pointer: fine) {
    background-image: url(../hud/share_window_on-hover.png);
  }

  @media (pointer: coarse) {
    background-image: url(../hud/share_window_on.png);
  }
}
