@import 'shared';

:local(.container) {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  pointer-events: none;

  &:local(.top) {
    top: 16px;
  }

  &:local(.column) {
    flex-direction: column;
    bottom: 0;
    z-index: 1;
  }
}

:local(.bottom) {
  margin-bottom: 20px;
}

:local(.hide) {
  display: none;
}

:local(.panel) {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-color: var(--hud-panel-background);
  border-radius: 30px;

  :local(.top-tip) {
    @extend %tip-bubble;
    top: 60px;
    z-index: 0;

    width: 350px;

    @media(max-width: 465px) {
      width: 207px;
    }

    @media(max-width: 420px) {
      width: 189px;
    }

    @media(max-width: 420px) {
      width: 189px;
    }

    :local(.attach-point) {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $notice-background-color;
      position: absolute;
      top: -5px;
    }

    :local(.attach_video_share_mode), :local(.attach_video_share_failed) {
      left: 90px;

      @media(max-width: 465px) {
        left: 27px;
      }

      @media(max-width: 420px) {
        left: 26px;
      }
    }

    :local(.attach_pen_mode) {
      right: 143px;

      @media(max-width: 465px) {
        right: 76px;
      }

      @media(max-width: 420px) {
        right: 71px;
      }
    }

    :local(.attach_mute_mode) {
      left: 143px;

      @media(max-width: 465px) {
        left: 76px;
      }

      @media(max-width: 420px) {
        left: 71px;
      }
    }

    :local(.attach_freeze_mode) {
      display: none;
    }
  }

  :local(.top-tip-no-hud) {
    top: 0px;
    width: auto;
    white-space: nowrap;
    height: 20px;

    span {
      padding-right: 12px;
    }
  }

  :local(.tip-cancel-text) {
    @extend %link-button;
    color: $notice-text-color;
  }

  :local(.tip-cancel) {
    color: $notice-widget-color;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    border: none;
    outline-style: none;
    width: 32px;
    margin-right: 2px;
  }

  :local(.video-share-extra-options) {
    position: absolute;
    top: -6px;
    display: flex;
    flex-direction: column;
    border-radius: 28px;
    padding: 3px 3px 6px 3px;
    background-color: var(--hud-dropdown-background-color);
    border: 2px solid var(--hud-dropdown-border-color);
    pointer-events: auto;
    z-index: 1;

    :local(.iconButton) {
      margin-top: 4px;
    }

    :local(.iconButton):first-child {
      margin-top: 1px;
    }
  }
}

:local(.panel.up) {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding-top: 5px;
  padding-bottom: 45px;
  margin-bottom: -40px;
}

:local(.iconButton) {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline-style: none;
  width: 40px;
  height: 40px;
  background-size: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px 6px;
  border: 0;

  @media(max-width: 465px) {
    margin: 0px 4px;
  }

  @media(max-width: 420px) {
    margin: 0px 2px;
  }
}

:local(.iconButton:hover) {
  @media (pointer: fine) {
    filter: brightness(1.20);
  }
}

:local(.iconButtonIcon) {
  width: 100%;
  height: 100%;
  color: $notice-background-color;
}

:local(.spawn) {
  color: $action-color;
}

:local(.iconButton.small) {
  width: 30px;
  height: 30px;
}

:local(.iconButton.large) {
  width: 80px;
  height: 80px;
  z-index: 1;
}

:local(.iconButton.disabled) {
  filter: contrast(0.1);
}

:local(.iconButton.video-share) {
  position: relative;
}
