:local(.container) {
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

:local(.panel) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.35);
}

:local(.panel.left) {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding-left: 20px;
  padding-right: 50px;
  margin-right: -40px;
}

:local(.panel.right) {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding-right: 20px;
  padding-left: 50px;
  margin-left: -40px;
}

:local(.modeButton) {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.panel) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.35);
}


:local(.nametag) {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-family: sans-serif;
  color: white;
  margin: 0 10px 0 0;
}

:local(.avatar) {
  width: 80px;
  height: 80px;
  background-size: 100%;
  background-image: url(../hud/avatar.png);
}

:local(.mic) {
  display: flex;
  width: 32px;
  height: 32px;
  -webkit-mask: url(../hud/unmuted.png);
  -webkit-mask-size: 32px;
  mask: url(../hud/unmuted.png);
  mask-size: 32px;
  background-color: white;
  cursor: pointer;
}

:local(.mic:hover) {
  background-color: cyan;
}

:local(.mic.muted:hover) {
  background-color: cyan;
}

:local(.mic:active) {
  background-color: red;
}

:local(.mic.muted) {
  -webkit-mask: url(../hud/muted.png);
  -webkit-mask-size: 32px;
  mask: url(../hud/muted.png);
  mask-size: 32px;
}

:local(.mic.muted:active) {
  background-color: green;
}
