@import 'shared';

:local(.container) {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  user-select: none;

  &:local(.top) {
    top: 10px;
  }

  &:local(.bottom) {
    bottom: 20px;
  }

  &:local(.aboveBottom) {
    bottom: 120px;
  }
}

:local(.panel) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-color: rgba(#4F4F4F, 0.45);
}

:local(.panel.left) {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding-left: 5px;
  padding-right: 45px;
  margin-right: -40px;
}

:local(.panel.right) {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding-right: 5px;
  padding-left: 45px;
  margin-left: -40px;
}

:local(.iconButton) {
  width: 40px;
  height: 40px;
  background-size: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

:local(.iconButton.small) {
  width: 30px;
  height: 30px;
}

:local(.iconButton.large) {
  width: 80px;
  height: 80px;
  z-index: 1;
}

:local(.iconButton.mute) {
  background-image: url(../hud/mute_off.png);
}
:local(.iconButton.mute:hover) {
  background-image: url(../hud/mute_off-hover.png);
}
:local(.iconButton.mute.active) {
  background-image: url(../hud/mute_on.png);
}
:local(.iconButton.mute.active:hover) {
  background-image: url(../hud/mute_on-hover.png);
}

:local(.iconButton.bubble) {
  background-image: url(../hud/bubble_off.png);
}
:local(.iconButton.bubble:hover) {
  background-image: url(../hud/bubble_off-hover.png);
}
:local(.iconButton.bubble.active) {
  background-image: url(../hud/bubble_on.png);
}
:local(.iconButton.bubble.active:hover) {
  background-image: url(../hud/bubble_on-hover.png);
}

:local(.iconButton.freeze) {
  background-image: url(../hud/freeze_off.png);
}
:local(.iconButton.freeze:hover) {
  background-image: url(../hud/freeze_off-hover.png);
}
:local(.iconButton.freeze.active) {
  background-image: url(../hud/freeze_on.png);
}
:local(.iconButton.freeze.active:hover) {
  background-image: url(../hud/freeze_on-hover.png);
}

:local(.iconButton.create-object) {
  background-image: url(../hud/create_object.png);
}
:local(.iconButton.create-object:hover) {
  background-image: url(../hud/create_object-hover.png);
}

:local(.iconButton.mobile-media-picker) {
  background-image: url(../hud/mobile_media_picker.png);
}
