.audio-setup-panel {
  text-align: center;
  overflow-y: auto;
  display: flex; 
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 24px auto 8px auto;
  
  &__enter-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__enter-button {
    @extend %bottom-action-button;
    @extend %wide-button;
    @extend %entry-action-button;
  }
  &__mute-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;

    input {
      cursor: pointer;
      @extend %checkbox;
    }

    input:checked {
      @extend %checkbox-checked;
    }

    label {
      cursor: pointer;
      margin-right: 8px;
    }

    color: var(--panel-text-color);
  }


  &__title {
    @extend %top-title;
    @extend %glass-text;
  }

  &__subtitle {
    @extend %top-subtitle;
    @extend %glass-text;
  }

  &__device-chooser {
    @extend %dropdown;
    flex-direction: column;
    justify-content: center;
    margin: 8px 0;
    width: 100%;

    &__dropdown {
      @extend %dropdown-select;

      font-size: 0.9em;
      padding-left: 25px;
      width: 90%;
      height: 50px;
    }

    &__mic-icon {
      pointer-events: none;
      position: absolute;
      left: 9%;
      width: 12px;
    }

    &__dropdown-arrow {
      @extend %dropdown-arrow;
    }
  }

  &__levels {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    &__icon {
      position:relative;
      width: 111px;
      height: 111px;
      color: var(--panel-widget-color);
      
      &__talking {
        position: absolute;
        top: 0;
        left: 0;
        color: $notice-background-color;
      }
    }

    &__icon_clickable {
      position:relative;
      width: 111px;
      height: 111px;
      cursor: pointer;

      &__pending {
        color: $action-color;
      }

      &__playing {
        color: $notice-background-color;
      }
    }

    &__test_label {
      position: absolute;
      width: 111px;
      text-align: center;
      font-size: 0.8em;
      bottom: 12px;
      color: $action-text-color;
    }

    &__icon-part {
      position:absolute;
      top: 0;
      left: 0;
    }
  }

  &__hmd-mic-warning {
    margin: 20px;

    &__label {
      vertical-align: middle;
      margin-left: 5px;
    }

    &__icon {
      vertical-align: middle;
    }
  }
}

.mic-grant-panel {
  display: flex;
  flex-direction: column;
  flex: 10 1 auto;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  margin: 24px auto 8px auto;
  width: 100%;

  &__grant-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: max-content;
  }

  &__title {
    @extend %top-title;
    @extend %glass-text;
  }

  &__subtitle {
    @extend %top-subtitle;
    @extend %glass-text;
  }

  &__button-container {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 111px;
    height: 111px;
    margin: 1em;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    width: 111px;
    height: 111px;
  }

  &__next-container {
    display: flex;
  }

  &__next {
    @extend %bottom-button;
    @extend %wide-button;
    @extend %entry-action-button;
    flex: 1 1;
  }

  .invisible {
    visibility: hidden;
  }
}
