.audio-setup-panel {
  text-align: center;
  overflow-y: auto;
  
  &__enter-button {
    @extend %bottom-button;
    margin: 32px auto;
  }

  &__title {
    @extend %top-title;
  }

  &__subtitle {
    @extend %top-subtitle;
  }

  &__device-chooser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 8px 0;

    &__dropdown {
      @extend %rounded-border;
      @extend %default-font;

      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background-color: black;
      padding: 6px;
      padding-left: 15px;
      padding-right: 30px;
      color: white;
      font-size: 1.1em;
      width: 90%;
      height: 50px;
    }

    &__mic-icon {
      pointer-events: none;
      position: absolute;
      left: 8%;
    }

    &__dropdown-arrow {
      pointer-events: none;
      position: absolute;
      right: 7.5%;
    }
  }

  &__levels {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    &__icon {
      position:relative;
      width: 111px;
      height: 111px;
      cursor: pointer;
    }

    &__icon-part {
      position:absolute;
      top: 0;
      left: 0;
    }
  }

  &__hmd-mic-warning {
    margin: 20px;

    &__label {
      vertical-align: middle;
      margin-left: 5px;
    }

    &__icon {
      vertical-align: middle;
    }
  }
}

.mic-grant-panel {
  display: flex;
  flex-direction: column;
  flex: 10 1 auto;
  justify-content: flex-start;
  align-items: center;

  &__title {
    @extend %top-title;
  }

  &__subtitle {
    @extend %top-subtitle;
  }

  &__button-container {
    flex: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 111px;
    height: 111px;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__next {
    @extend %bottom-button;
    padding-top: 0;
    padding-bottom: 0;
    flex: 1 1;
  }
}
