@import 'shared';

#selector-root {
  height: 100%;
}

canvas {
  border-radius: 8px;
  background-color: #aaa;
}

.avatar-selector {
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;

  &__previous-button:focus, &__next-button:focus {
    outline: none;
  }
  &__previous-button:active, &__next-button:active {
    color: grey;
  }
  &__previous-button, &__next-button {
    @extend %big-icon-button;
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    padding: 0;
  }
  &__previous-button {
    left: 0.2em;
  }
  &__next-button {
    right: 0.2em;
  }
  &__loading {
    @extend %default-font;
    display: block;
    position: absolute;
    top: 50%;
    text-align: center;
    color: white;
  }
}
