@import 'shared';

:local(.avatar-editor) {
  padding: 2em;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  height: 100%;

  @media (max-width: 768px) {
    padding: 0.5em;
    flex-direction: column;
    align-items: center;
  }

  > .loader {
    position: absolute;
    left: calc(50% - 4.3em);
    top: calc(50% - 4.5em);
  }

  .info {
    text-align: center;
    width: 100%;
    color: $grey-text;
    margin: 1em 0;

    p {
      margin: 0;
      margin-bottom: 0.5em;
    }

    a {
      color: $dark-grey-text;
      margin-left: 5px;
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    align-items: center;
    overflow: auto;
    @media (min-width: 768px) {
      padding-top: 2em;
    }
  }

  .form-body {
    display: flex;
    flex-direction: column;

    .file-input-row {
      display: flex;
      align-items: center;
      &.disabled{
        opacity: 0.5;
      }
      label {
        display: flex;
        align-items: center;
        margin: 5px 0;
      }
      input {
        display: none;
      }
      .img-box {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
        border-radius: 8px;
        margin-right: 5px;
        background: #eaeaea;
        overflow: hidden;
      }
      img {
        width: 100%;
      }
      a {
        margin-left: 10px;
        color: $action-color;
      }
    }

    .text-field {
      @extend %input-field;
      font-size: 16px;
    }

    .textarea {
      @extend %input-field;
      font-size: 16px;
    }

    .select-container {
      position: relative;
      .arrow{
        position: absolute;
        right: 10px;
        bottom: 20px;
      }
    }

    .select {
      @extend %input-field;
      font-size: 16px;
      height: 36px;
      -webkit-appearance: none;
      -moz-appearance: none;
    }


    .checkbox-container {
      display: flex;
      align-items: center;
      margin: 5px 0;

      .checkbox {
        @extend %checkbox;
        min-width: 2em;
        min-height: 2em;
      }
      .checkbox:checked {
        @extend %checkbox-checked;
      }
    }

    .license {
      font-size: 8pt;
    }

    hr {
      width: 100%;
      border: none;
      border-bottom: 1px solid $dark-grey;
    }

    a {
      color: black;
    }
  }

  .preview {
    margin-left: 2em;
    height: 450px;
    max-width: 200px;
    @media (max-width: 768px) {
      margin-left: 0.5em;
    }
  }

  .form-submit {
    @extend %bottom-action-button;
    margin: 0;
    margin-bottom: 0.5em;
  }
  .form-submit:disabled {
    background-color: $action-color-light;
  }

  .split {
    display: grid;
    grid-template: 100% / 55% 45%;
    align-items: center;
  }

  canvas {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .delete-avatar {
    color: $dark-grey;
    a {
      cursor: pointer;
      text-decoration: underline;
      color: $action-color;
    }
  }

  .close-button {
    font-size: 1.6em;
    align-self: flex-start;
    @media (max-width: 768px) {
      padding-left: 0.5em;
    }
  }
}
