@import 'fonts';
@import 'shared';

#selector-root {
  height: 100%;
}
.avatar-selector {
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;

  &__previous-button:focus, &__next-button:focus {
    outline: none;
  }
  &__previous-button:active, &__next-button:active {
    color: grey;
  }
  &__previous-button, &__next-button {
    position: absolute;
    top: 50%;
    margin-top: -4em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    color: white;
    border: none;
  }
  &__previous-button {
    left: -2em;
  }
  &__next-button {
    right: -2em;
  }
  &__button-icon {
    font-size: 84pt;
  }
  &__loading {
    @extend %default-font;
    display: block;
    position: absolute;
    top: 50%;
    text-align: center;
    color: white;
  }
}
