@import 'shared';

:local(.change-scene-button) {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}

:local(.action-button) {
  @extend %unselectable;
  @extend %bottom-action-button;
  margin-left: 6px;
  margin-right: 6px;
  width: 128px;
  text-align: center;
  &:disabled {
    background-color: $action-color-disabled;
  }
}

:local(.buttons) {
  @extend %unselectable;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

:local(.input-border) {
  display: flex;
  @extend %rounded-border;
  @extend %default-font;
  margin: 12px 0px;
  padding: 0.5em 0.75em;
  width: 100%;
  box-sizing: border-box;
}

:local(.left-side-of-input) {
  @extend %default-font;
  flex-grow: 1;
  border: none;
  white-space: nowrap;
  background: transparent;
  color: var(--text-field-text-color);
  font-size: 1.2em;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

:local(.spoke-create) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--panel-rule-color);
  margin-top: 64px;

  div {
    margin-top: 28px;
  }
}

:local(.spoke-launch) {
  @extend %spoke-action-button;
  margin-top: 18px;
  color: var(--spoke-action-text-color) !important; // TODO HACK because of dialog <a> style overriding color
}
