@import 'shared.scss';

:local(.command-help) {
  background-color: var(--chat-popup-background-color);
  color: var(--chat-popup-text-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 75%;
  left: 0;
  bottom: 58px;
  pointer-events: auto;
  padding: 8px 1.25em;
  border-radius: 16px;
  font-size: 0.8em;

  :local(.entry) {
    @extend %default-font;
    margin: 4px;

    display: flex;
    justify-content: space-between;

    :local(.command) {
      font-weight: bold;
      white-space: nowrap;
      margin-right: 8px;
    }
  }
}
