@import 'shared';

:local(.title-and-close){
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:local(.object-display-string) {
  width: 80%;
  margin: 0 10%;
  text-align: center;
  overflow-wrap: break-word;
  max-width: 400px;
}

:local(.cancel-text) {
  margin: 10px 0px 0px 0px;
}

:local(.collapse-button) {
  @extend %fa-icon-button;
  @extend %panel-widget;
  margin: 0 10px;

  i {
    font-size: 1.2em;
  }
}

:local(.client-info-dialog) {
  .dialog__box__contents__title {
    margin-bottom: 10px;
  }
}

:local(.title) {
  text-align: center;
  font-weight: bold;
  margin: 0 12px;
}

:local(.community-identifier) {
  font-size: 12pt;
  font-weight: normal;
  margin-top: 3px;
}

:local(.client-info) {
  display: flex;
  text-align: left;
  margin: 0 12px;

  @media(max-width: 690px) {
    flex-direction: column;
    align-items: center;
  }
}

:local(.client-profile-image) {
  min-width: 200px;

  img {
    border-radius: 12px;
    width: auto;
    height: 240px;
  }

  margin: 0px 80px;

  @media(max-width: 690px) {
    margin: auto;
  }
}

:local(.client-details) {
  display: flex;
  flex-direction: column;
  margin: 4px 0 0 26px;
  font-weight: normal;
  width: 320px;

  @media(max-width: 690px) {
    width: 200px;
    margin: 4px 4px;
  }
}

:local(.client-main) {
  margin: 12px 8px 8px 0;
  position: relative;
  font-size: 1.8em;
  font-weight: bold;
}

:local(.action-button-sections) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

:local(.action-button-placeholder) {
  height: 60px;
}

:local(.left-action-buttons), :local(.right-action-buttons) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
}

:local(.navigation-button) {
  @extend %action-button-secondary-modal;
  min-width: 48px;
}

:local(.primary-action-buttons) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 24px;

  button {
    position: relative;

    :local(.button-icon) {
      position: absolute;
      left: 10px;
      width: 32px;
      height: 32px;
    }

    @extend %action-button-secondary-modal;
    margin-top: 12px;
    width: 200px;
    display: flex;
    flex-direction: row;

    @media (max-width: 801px) {
      width: 100px;
      margin-top: 4px;
    }
  }

  button:disabled {
    color: var(--panel-widget-disabled-color);

    :local(.button-icon) {
      filter: saturate(0);
    }
  }

  :local(.cancel) {
    @extend %action-button;
  }
}

:local(.primary-action-button) {
  background: $action-color !important;
  color: $action-text-color !important;
}
