@import 'shared';

:local(.confirm-button) {
  @extend %action-button;
  margin-top: 8px;
}

:local(.cancel-button) {
  @extend %action-button-secondary;
  margin-top: 8px;
}

:local(.message) {
  margin-bottom: 12px;
  white-space: pre-wrap;
}

:local(.not-match) {
  background-color: grey;
}

:local(.error-border) {
  border: 1px solid $default-action-color !important;
}

:local(.room-name) {
  font-size: 1.2em;
  margin: 10px 0;
}

:local(.form-field-text) {
  @extend %default-font;

  border: 1px solid var(--text-field-border-color);
  background-color: var(--text-field-background-color);
  border-radius: 10px;
  font-size: 1.1em;
  color: var(--text-field-text-color);
  outline: none;
  line-height: 2.0em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin: 0.5em 0;
}
