@import 'root-vars';
@import 'shared';
@import 'loader';

// default below 576px (Portrait Phones)
$breakpoint-sm: 576px; // Landscape Phones
$breakpoint-md: 768px; // Tablets
$breakpoint-lg: 992px; // Desktops
$breakpoint-xl: 1200px; // Large Desktops
$breakpoint-xxl: 1600px; // Extra Large Desktops

html, body, #ui-root {
  margin: 0;
  height:100%;
}

body {
  @extend %default-font;
  background: var(--home-background-color);
  color: var(--home-text-color);
}

#ui-root {
  display:flex; 
  flex-direction:column;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

header {
  display: block;

  @media(min-width: $breakpoint-lg) {
    display: flex;
    flex-direction: row;
    height: 65px;
    min-height: 65px;
    padding: 0 1.75em;
  }

  nav {
    display: flex;
    flex-direction: column;

    @media(min-width: $breakpoint-lg) {
      flex-direction: row;
    }

    li {
      padding-top: 20px;

      @media(min-width: $breakpoint-lg) {
        padding-top: 0;
      }
    }

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      flex-direction: column;
      align-items: center;

      @media(min-width: $breakpoint-lg) {
        justify-content: flex-end;
        flex-direction: row;
      }
    }

    a {
      margin: 0 16px;
      color: var(--home-header-link-color);
      font-weight: bold;
      font-size: 1.4em;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}

main {
  display: block;
  order: -1;

  @media(min-width: $breakpoint-lg) {
    order: 0;
    display: flex;
    flex-direction: column;
  }

  section {
    margin: auto;
    max-width: 100%;

    @media(min-width: $breakpoint-sm) {
      max-width: 540px;
    }

    @media(min-width: $breakpoint-md) {
      max-width: 720px;
    }

    @media(min-width: $breakpoint-lg) {
      max-width: 960px;
    }

    @media(min-width: $breakpoint-xl) {
      max-width: 1140px;
    }

    @media(min-width: $breakpoint-xxl) {
      max-width: 1410px;
    }
  }
}

:local(.hero) {
  background-color: #F3F3F3;
  

  & > section {
    display: flex; 
    padding: 32px;
  }
}

:local(.hero-media) {
  flex: 8;

  & > * {
    height: 240px;
    width: 100%;

    @media(min-width: $breakpoint-sm) {
      height: 300px;
    }

    @media(min-width: $breakpoint-md) {
      height: 360px;
    }

    @media(min-width: $breakpoint-lg) {
      height: 100%;
    }
  }

  @media(min-width: $breakpoint-lg) {
    margin-right: 40px;
  }
}

:local(.hero-content) {
  flex: 10;

  :local(.primary-button) {
    margin-top: 20px;

    @media(min-width: $breakpoint-lg) {
      margin-top: 0;
    }
  }
}

:local(.get-started) {
  margin-top: 20px;

  a {
    color: var(--home-text-color);
  }
}

:local(.primary-button) {
  @extend %action-button;
  height: 64px;
  border-radius: 4px;
  background-color: $action-color;
  font-size: 1.2em;
  max-width: 300px;

  @media(min-width: $breakpoint-md) {
    font-size: 1em;
    height: 56px;
  }
}

:local(.features) {
  display: flex;
  padding: 5px;
  
  & > * {
    margin: 5px;
  }
}

footer {
  display: block;
  background-color: var(--home-footer-background-color);

  @media(min-width: $breakpoint-lg) {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: space-between;
    padding: 2.25em;
    align-items: center;
    background-color: transparent;
  }

  :local(.powered-by) {
    text-align: center;
    align-self: flex-end;
    color: var(--home-footer-text-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  nav {
    margin-bottom: 20px;

    @media(min-width: $breakpoint-lg) {
      margin-bottom: 0;
    }

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      flex-direction: column;
      align-items: center;

      @media(min-width: $breakpoint-lg) {
        justify-content: flex-end;
        flex-direction: row;
      }
    }

    a {
      color: var(--home-footer-link-color);
      font-weight: bold;
    }

    li {
      padding-top: 20px;

      @media(min-width: $breakpoint-lg) {
        padding-top: 0;
        margin-right: 20px;
      }
    }

    :local(.company-logo) {
      height: 49px;

      @media(min-width: $breakpoint-lg) {
        margin-left: 18px;
      }
    }
  }
}

// Utility Classes
:local(.hide-lg-down) {
  @media(max-width: $breakpoint-lg) {
    display: none;
  }
}

:local(.hide-lg-up) {
  @media(min-width: $breakpoint-lg) {
    display: none;
  }
}

:local(.row) {
  display: flex;
  justify-content: space-evenly !important;
}

:local(.col-lg) {
  flex-direction: column;

  @media(min-width: $breakpoint-lg) {
    flex-direction: row;
  }
}

:local(.center) {
  justify-content: center;
  text-align: center;
}

:local(.center-lg) {
  @media(max-width: $breakpoint-lg) {
    text-align: center;
    align-items: center;
  }
}