$white-transparent: rgba(255, 255, 255, 0.90);
$off-white: #fafafa;
$darkest-grey-transparent: rgba(32, 32, 32, 0.90);
$grey-text: rgba(127, 127, 127, 1.0);
$dark-grey-text: rgba(64, 64, 64, 1.0);
$light-text: rgba(240, 240, 240, 1.0);
$lighter-grey: #f0f0f0;
$light-grey: lightgrey;
$dark-grey: rgba(128, 128, 128, 1.0);
$darker-grey: rgba(64, 64, 64, 1.0);
$darkest-grey: rgba(32, 32, 32, 1.0);
$bright-blue: #2F80ED;
$light-blue: #6FC0FD;
$semi-bold: 600;
$duck-yellow: #FFC000;
