@import 'shared';

:local(.add-media-form) {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}

:local(.action-button) {
  @extend %unselectable;
  @extend %bottom-action-button;
  margin-left: 6px;
  margin-right: 6px;
  appearance: none;
  width: 128px;
  text-align: center;
  -moz-appearance: none;
  -webkit-appearance: none;
}

:local(.buttons) {
  @extend %unselectable;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

:local(.small-button) {
  @extend %unselectable;
  margin-left: 0.25em;
  font-size: 2em;
  align-self: center;
}

:local(.cancel-icon) {
  color: var(--text-field-widget-color);
  cursor: pointer;
}

:local(.upload-icon) {
  color: $action-label-color;
  cursor: pointer;

  &:hover {
    color: var(--action-label-color-highlight);
  }
}

:local(.input-border) {
  display: flex;
  @extend %rounded-border;
  @extend %default-font;
  margin: 1em;
  padding: 0.5em 0.75em;
  width: 100%;
  box-sizing: border-box;
}

:local(.left-side-of-input) {
  @extend %default-font;
  flex-grow: 1;
  border: none;
  white-space: nowrap;
  background: transparent;
  color: var(--text-field-text-color);
  font-size: 1.2em;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

:local(.hide-file-input) {
  visibility: hidden;
  position: absolute;
}
