@import 'shared';

%drop-menu {
  position: absolute;
  top: 72px;

  @media(max-width: 500px) {
    top: 96px;
  }

  bottom: 0;
  z-index: 5;
  color: var(--menu-text-color);
}

%attach-point {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--menu-attach-point-color);
  position: absolute;
}

:local(.contents) {
  background-color: var(--menu-background-color);
  border-radius: 12px;
  padding: 18px;
  min-width: 260px;
  max-height: 75%;
  overflow-y: auto;
  pointer-events: auto;
}

:local(.rows) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:local(.row) {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
}

:local(.row-header) {
  margin-top: 18px;
  margin-bottom: 4px;
  color: var(--menu-header-text-color);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
}

:local(.row-header):first-child {
  margin-top: 4px;
}

:local(.list-item) {
  flex: 10;
  white-space: nowrap;
  margin-right: 24px;
  max-width: 45vw;
  overflow: hidden;
  color: var(--menu-text-color);

  a {
    color: var(--menu-link-color);
    text-decoration-color: var(--menu-link-underline-color);
  }

  button {
    color: var(--menu-text-color);
    text-decoration-color: var(--menu-link-underline-color);
  }

  :local(.list-item-link) {
    color: var(--menu-link-color);
    text-decoration: underline;
    text-decoration-color: var(--menu-link-underline-color);
    cursor: pointer;
  }
}
