@import 'shared';

:local(.entry-dialog) {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

:local(.entry-button) {
  display: flex;
  margin: 20px 0;
  margin-bottom: 0;
  cursor: pointer;
  background: none;
  color: white;
  border: none;
  align-items: center;
  @extend %default-font;

  :local(.icon) {
    @extend %glass-icon;
    flex: 1 1 90px;
    min-width: 90px;
    min-height: 90px;
  }

  :local(.label) {
    @extend %glass-text;
    flex: 10 1 auto;
    margin-left: 20px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  :local(.bolded) {
    font-weight: bold;
  }

  :local(.subtitle) {
    font-size: 0.7em;
    color: $light-text;
  }
}

:local(.entry-panel) {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;

  :local(.button-container) {
    margin: auto;
    text-align: center;
    flex: 10;
    display: flex;
    flex-direction: column;
    min-height: max-content;
    justify-content: center;

    :local(.invite-button) {
      @extend %action-button;
      align-self: center;
      width: 75%;
    }

    :local(.presence-info) {
      margin: 18px;
      font-size: 1.3em;

      :local(.people) {
        font-weight: bold;
      }
    }
  }

  :local(.webvr-link-container) {
    text-align: center;
    margin-bottom: 24px;
  }

  :local(.webvr-link) {
    color: white;
    flex: 1;
    min-height: max-content;
  }

  :local(.screen-sharing) {
    font-size: 1.4em;
    margin-left: 2.95em;
    margin-top: 0.6em;

    :local(.checkbox) {
      @extend %checkbox;
    }

    :local(.checkbox:checked) {
      @extend %checkbox-checked;
    }
  }

  :local(.secondary) {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: $grey-text;
  }
}
