@import 'shared';

:local(.entry-dialog) {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
}

:local(.collapse-button) {
  @extend %fa-icon-button;
  color: var(--panel-widget-color);

  i {
    font-size: 24px;
  }
}

:local(.hide-button) {
  @extend %fa-icon-button;
  color: var(--panel-widget-color);

  i {
    font-size: 24px;
  }
}

:local(.favorite-button) {
  @extend %fa-icon-button;
  color: var(--unfavorited-color);

  i {
    font-size: 1.2em;
  }
}

:local(.favorited) {
  color: $favorited-color;
}

:local(.collapse-button):hover {
  color: $action-label-color;
}

:local(.entry-button) {
  @extend %action-button;
  width: 290px;
  display: flex;
  text-align: left;
  flex-direction: row;
  cursor: pointer;
  color: $action-text-color;
  align-items: center;
  @extend %default-font;
  border: 0;
  border-radius: 12px;
  margin-top: 12px;
  padding: 12px 18px;
  height: auto;

  :local(.icon) {
    height: 40px;
    width: 40px;
  }

  :local(.label) {
    @extend %glass-text;
    color: $action-text-color;
    flex: 10 1 auto;
    margin-left: 20px;
    font-size: 1.0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  :local(.bolded) {
    font-weight: bold;
  }

  :local(.subtitle) {
    font-size: 0.8em;
    font-weight: normal;
    color: $action-subtitle-color;
  }
}

:local(.entry-button-secondary) {
  @extend %action-button-secondary;

  :local(.label) {
    color: $action-label-color;
  }

  :local(.icon) {
    color: $action-label-color;
  }

  :local(.subtitle) {
    color: $action-label-color;
  }
}

:local(.entry-panel) {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  margin: 24px;
  min-height: 250px;
  height: 100%;
  width: 100%;

  a {
    text-decoration: none;
  }

  :local(.room-subtitle) {
    font-size: 0.8em;
    text-transform: uppercase;
    color: var(--panel-subtitle-color);
    margin-bottom: 8px;
  }

  :local(.title) {
    @extend %top-title;
    @extend %glass-text;
    margin-bottom: 12px;
    margin-right: 8px;
    margin-left: 8px;
  }

  :local(.name) {
    @extend %top-title;
    @extend %glass-text;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    margin-right: 20px;
    margin-left: 20px;

    :local(.rename-button) {
      @extend %glass-text;
      font-weight: bold;
      font-size: 1.0em;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline-style: none;
      cursor: pointer;
      border: 0;
      text-decoration: underline;
      text-decoration-color: var(--panel-title-underline-color);
      background: transparent;
    }
  }

  :local(.lobby) {
    margin-bottom: 24px;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 0.9em;
  }

  :local(.center) {
    @extend %glass-text;
    flex: 10;
    width: 100%;
  }

  :local(.lobby-label) {
    margin-top: 4px;
    margin-bottom: 32px;
    @extend %default-font;
    font-size: 0.8em;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    color: var(--panel-subtitle-color);
    align-items: center;
    justify-content: center;
    i {
      margin-right: 8px;
    }
  }

  :local(.profile-icon) {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 12px;
  }

  :local(.button-container) {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: center;

    :local(.action-button) {
      @extend %action-button;
      @extend %entry-action-button;
    }

    :local(.secondary-action-button) {
      @extend %action-button-secondary;
      @extend %entry-action-button;
      margin-bottom: 12px;
    }

    :local(.wide-button) {
      @extend %wide-button;
    }

    :local(.button-subtitle) {
      font-size: 0.8em;
      font-weight: normal;
    }
  }

  :local(.audio-loader) {
    min-height: 228px;
  }

  :local(.webvr-link-container) {
    text-align: center;
    margin-bottom: 24px;
  }

  :local(.webvr-link) {
    color: $action-text-color;
    flex: 1;
    min-height: max-content;
  }

  :local(.screen-sharing) {
    font-size: 1.4em;
    margin-left: 2.95em;
    margin-top: 0.6em;

    :local(.checkbox) {
      @extend %checkbox;
    }

    :local(.checkbox:checked) {
      @extend %checkbox-checked;
    }
  }

  :local(.secondary) {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.8em;
    cursor: pointer;
    color: $action-label-color;
    text-decoration: underline;
  }
}

:local(.back) {
  @extend %fa-icon-button;

  display: flex;
  font-size: 1.0em;
  font-weight: bold;

  @media (max-width: 768px) {
    align-self: flex-start;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    margin: 0;
  }

  @media (min-width: 768px) {
    position: absolute;
    top: 28px;
    left: 26px;
  }

  i {
    margin-right: 18px;
  }
}
