.exited-panel {
  position: absolute;
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 1.2em;
  }

  &__subtitle {
    font-size: 0.8em;
  }
}

.autoexit-panel {
  display: flex;
  flex-direction: column;
  flex: 10 1 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;

  &__title {
    @extend %top-title;
  }
  
  &__subtitle {
    @extend %top-subtitle;
  }

  &__cancel-button {
    @extend %bottom-button;
    margin-top: 20px;
    cursor: pointer;
  }
}

