.exited-panel {
  position: absolute;
  color: var(--post-session-splash-text-color);
  background-color: var(--post-session-splash-background-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__logo {
    width: 150px;
    filter: drop-shadow(0 0 4px #888);
  }

  &__subtitle {
    @extend %default-font;
    padding: 12px;
    text-align: center;
    
    a {
      color: var(--post-session-splash-secondary-action-color);
    }
  }
}

.autoexit-panel {
  display: flex;
  flex-direction: column;
  flex: 10 1 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  padding-bottom: 64px;

  &__title {
    @extend %top-title;
    text-align: center;
  }
  
  &__subtitle {
    @extend %top-subtitle;
  }

  &__cancel-button {
    @extend %bottom-button;
    margin-top: 20px;
    cursor: pointer;
  }
}

