:local(.form-frame) {
  width: 600px;
  height: 550px;

  @media (max-width: 700px) {
    width: 400px;
  }

  @media (max-width: 475px) {
    width: 300px;
  }

  @media (max-height: 675px) {
    height: 350px;
  }

  @media (max-height: 475px) {
    height: 250px;
  }
}
