@import 'shared';

:local(.container) {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  // Position above virtual gamepad controls on mobile
  z-index: 1;

}
:local(.floatingButton) {
  display: flex;
  justify-content: center;
}
:local(.header) {
  display: flex;
  border-bottom: 2px solid #333;
  background-color: rgba(0, 0, 0, 0.65);
}
:local(.hub-info) {
  flex: 1;
  margin: 8px;
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    font-size: 0.8em;
  }
}
:local(.menu) {
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  border-top: 3px solid white;
}
:local(.menu-buttons) {
  margin: 0 auto;
}
:local(.menu-button) {
  @extend %default-font;
  margin: 8px 0;
  padding: 0;
  display: block;
  background: none;
  border: none;
  color: white;
  pointer-events: auto;
  cursor: pointer;
  font-size: 0.8em;
}
:local(.menu-button__icon) {
  background: black;
  width: 39px !important;
  height: 39px;
  border: 3px solid white;
  border-radius: 39px;
  display: inline-block;
  font-size: 1.5em;
  vertical-align: sub;
  svg {
    margin-top: 7px;
    margin-left: 0px;
  }
}
:local(.menu-button__text) {
  margin-left: 16px;
}
:local(.hub-stats) {
  text-align: right;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (min-width: 768px) {
    flex: 1;
  }
}
:local(.hub-participant-count) {
  margin: 0 5px;
}
