:local(.container) {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  bottom: 0;
  display: flex;
  font-size: 1.3em;
  height: 48px;
}
:local(.hub-info) {
  flex: 1;
  margin: 8px;
}
:local(.menu) {
  margin: 8px;
}
:local(.menu-button) {
  background: none;
  border: 3px solid white;
  border-radius: 16px;
  color: white;
  margin: 0 8px;
  pointer-events: auto;
  cursor: pointer;
  width: 33px;
  height: 33px;
}
:local(.menu-button__icon) {
  margin-left: -1px;
  margin-bottom: 1px;
}
:local(.hub-stats) {
  flex: 1;
  text-align: right;
  margin: 8px;
}
:local(.hub-participant-count) {
  margin: 0 8px;
}
