@import 'shared';

:local(.container) {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  // Position above virtual gamepad controls on mobile
  z-index: 1;

  @media (min-width: 768px) {
    pointer-events: auto;
  }
}

:local(.floatingButton) {
  display: flex;
  justify-content: center;
}
:local(.header), :local(.menu-header) {
  display: flex;
  justify-content: center;
}
:local(.header) {
  border-bottom: 1px solid rgba(32, 32, 32, 0.65);

  @media (max-width: 768px) {
    border-bottom: none;
    pointer-events: none;
  }
}
:local(.menu-header) {
  background-color: transparent;
  border-bottom: 1px solid rgba(32, 32, 32, 0.65);

  @media (min-width: 768px) , (max-height: 380px) {
    display: none;
  }
}
:local(.header) {
  background-color: rgba(0, 0, 0, 0.65);

  @media (max-width: 768px) {
    background-color: transparent;
  }

  :local(.hub-info) {
    @media (max-width: 768px) {
      display: none;
    }
  }

  :local(.hub-stats) {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

:local(.hub-info) {
  flex: 1;
  margin: 16px 24px;
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    margin: 16px 8px;
    margin-left: 24px;
    font-size: 0.9em;
  }
}
:local(.hub-stats) {
  text-align: right;
  margin: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (min-width: 768px) {
    flex: 1;
  }
  @media (max-width: 768px) {
    margin: 16px 8px;
  }
  :local(.hub-participant-count) {
    margin: 0 12px;
  }
}

:local(.menu) {
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
}
:local(.menu-buttons) {
  margin: 0 auto;
}
:local(.menu-button) {
  @extend %fa-icon-button;
  pointer-events: auto;

  :local(.menu-button__icon) {
    @extend %fa-icon-button-icon;
  }

  :local(.menu-button__text) {
    @extend %fa-icon-button-text;
  }

  :local(.menu-button__narrow-close-icon) {
    @media (max-width: 767px) {
      display: none;
    }
  }

  :local(.menu-button__wide-close-icon) {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
