@import 'shared';

:local(.help-dialog) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  :local(.link-button) {
    @extend %link-button;
  }

  :local(.tour-button) {
    position: relative;

    @extend %action-button;
    margin-top: 24px;
    margin-bottom: 12px;
    width: 200px;
  }

  :local(.docs-link) {
    position: relative;

    @extend %action-button-secondary-modal;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 200px;
  }
}
