@import 'shared';

:local(.create-panel) {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    align-items: center;
  }

  :local(.form) {
    position: relative;
    width: 700px;

    @media (max-width: 768px) , (max-height: 715px) {
      width: auto;
      width: 500px;
    }

    @media (max-width: 520px) {
      width: 300px;
    }

    :local(.name) {
      @extend %rounded-border;
      @extend %default-font;

      color: white;
      font-size: 2em;
      background: black;
      padding: 25px;
      padding-left: 90px;
      padding-right: 90px;
      width: 100%;
      line-height: 40px;
      margin-top: 340px;
      border-radius: 0px 0px 14px 14px;

      &::selection {
        background-color: #2F80ED;
        color: white;
      }

      &::-moz-selection {
        background-color: #2F80ED;
        color: white;
      }

      @media (max-width: 768px) , (max-height: 715px) {
        min-width: auto;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        margin-top: 275px;
      }

      @media (max-width: 520px) {
        padding-left: 15px;
        font-size: 1.2em;
        margin-top: 165px;
      }
    }

    :local(.submit-button), :local(.rotate-button) {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background: transparent;
      border: none;
      cursor: pointer;
    }

    :local(.left-container) {
      position: absolute;
      width: 90px;
      height: 95px;
      left: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      bottom: 0;

      @media (max-width: 520px) {
        display: none;
      }
    }

    :local(.right-container) {
      position: absolute;
      height: 95px;
      width: 90px;
      right: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      bottom: 0;
    }

    :local(.environment) {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 700px;
      height: 100%;
      box-sizing: border-box;
      border: 3px solid white;
      border-radius: 14px;
      overflow: hidden;
      pointer-events: none;

      @media (max-width: 768px) , (max-height: 715px) {
        width: 100%;
      }

      :local(.picker) {
        width: 100%;
        height: 340px;
        border-bottom: 2px solid white;
        overflow: hidden;
        position: relative;

        @media (max-width: 768px) , (max-height: 715px) {
          height: 280px;
        }

        @media (max-width: 520px) {
          height: 165px;
        }

        :local(.image) {
          width: 106%;
          position: absolute;
          top: -3%;
          left: -3%;
        }

        :local(.labels) {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgb(2,0,36);
          background: linear-gradient(0deg, rgba(2,0,36,0.324) 0%, rgba(1,0,11,0.1189076314119398) 60%, rgba(0,0,0,0.3242297602634804) 100%); 

          :local(.customButton) {
            @extend %default-font;
            cursor: pointer;
            position: absolute;
            bottom: 14px;
            left: 12px;
            font-size: 1.3em;
            text-shadow: 0px 0px 6px #202020;
            color: $light-text;
            appearance: none;
            text-decoration: underline;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: transparent;
            border: none;
            pointer-events: auto;
          }

          :local(.header) {
            position: absolute;
            top: 14px;
            left: 18px;
            display: flex;
            flex-direction: column;
            text-shadow: 0px 0px 3px #404040;

            :local(.title) {
              font-size: 1.6em;
              font-weight: bold;
              color: white;
            }

            :local(.author) {
              color: $light-text;
              font-size: 1.4em;

              @media (max-width: 520px) {
                display: none;
              }
            }

            :local(.org) {
              color: $light-text;
              font-size: 1.0em;
              display: inline;

              @media (max-width: 520px) {
                display: none;
              }
            }

            a {
              pointer-events: all;
            }
          }
        }

        :local(.controls) {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;

          :local(.next), :local(.prev) {
            @extend %big-icon-button;

            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            pointer-events: auto;
            cursor: pointer;
            padding: 0;
          }

          :local(.prev) {
            left: 0.2em;
          }

          :local(.next) {
            right: 0.2em;
          }
        }
      }
    }
  }
}
