@import 'shared';

:local(.placeholder) {
  width: 690px;
  height: 460px;

  @media (max-width: 768px), (max-height: 480px) {
    width: 525px;
    height: 350px;
  }

  @media (max-width: 520px) {
    width: 90%;
    height: 300px;
  }

  @media (max-width: 350px) {
    height: 250px;
  }
}

:local(.create-panel) {
  display: flex;
  flex-direction: column;
  align-items: center;

  :local(.form) {
    position: relative;
    width: 690px;
    height: 460px;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      width: 525px;
      height: 350px;
    }

    @media (max-width: 520px) {
      width: 90%;
      height: 300px;
    }

    @media (max-width: 350px) {
      height: 250px;
    }

    @media (max-height: 480px) {
      width: 375px;
      height: 300px;
    }

    :local(.name) {
      @extend %rounded-border;
      @extend %default-font;

      color: white;
      font-size: 2em;
      background: black;
      padding: 25px;
      padding-left: 90px;
      padding-right: 90px;
      width: 100%;
      line-height: 40px;
      margin-top: 340px;
      border-radius: 0px 0px 14px 14px;

      &::selection {
        background-color: $bright-blue;
        color: white;
      }

      &::-moz-selection {
        background-color: $bright-blue;
        color: white;
      }

      @media (max-width: 768px), (max-height: 480px) {
        min-width: auto;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
      }

      @media (max-width: 520px) {
        padding-left: 15px;
        font-size: 1.2em;
      }
    }

    :local(.submit-button) {
      @extend %big-action-button;

      @media (max-width: 350px), (max-height: 480px) {
        font-size: 16px;
        padding: 9px 24px;
        width: auto;
      }
    }

    :local(.container) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-top: 1em;
    }

    :local(.environment) {
      top: 0px;
      left: 0px;
      width: 700px;
      height: 100%;
      box-sizing: border-box;
      border-radius: 14px;
      overflow: hidden;
      pointer-events: none;

      @media (max-width: 768px), (max-height: 480px) {
        width: 100%;
      }

      :local(.picker) {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        :local(.image) {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: contrast(0.9) brightness(1.1);
        }

        :local(.labels) {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.0) 50%, rgba(0,0,0,0.4) 100%); 

          :local(.custom-button) {
            @extend %default-font;
            cursor: pointer;
            position: absolute;
            top: 14px;
            right: 12px;
            font-size: 1.3em;
            text-shadow: 0px 0px 6px #202020;
            color: $light-text;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: transparent;
            border: none;
            pointer-events: auto;

            @media (max-width: 520px), (max-height: 480px) {
              display: none;
            }
          }

          :local(.header) {
            position: absolute;
            top: 14px;
            left: 18px;
            display: flex;
            flex-direction: column;
            text-shadow: 0px 0px 3px #404040;

            :local(.title) {
              font-size: 1.6em;
              font-weight: bold;
              color: white;
            }

            :local(.author) {
              color: $light-text;
              font-size: 1.4em;

              @media (max-width: 520px), (max-height: 480px) {
                display: none;
              }
            }

            :local(.org) {
              color: $light-text;
              font-size: 1.0em;
              display: inline;

              @media (max-width: 520px), (max-height: 480px) {
                display: none;
              }
            }

            a {
              pointer-events: all;
            }
          }
        }

        :local(.controls) {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;

          :local(.next), :local(.prev) {
            @extend %big-icon-button;

            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            pointer-events: auto;
            cursor: pointer;
            padding: 0;

            svg {
              filter: drop-shadow(0 0 1px #777);

              @media (max-width: 520px), (max-height: 480px) {
                font-size: 48pt;
              }
            }
          }

          :local(.prev) {
            left: 0.2em;
          }

          :local(.next) {
            right: 0.2em;
          }
        }
      }
    }
  }
}

