.create-panel {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .create-panel {
    align-items: center;
  }
}

.create-panel__header {
  color: $grey-text;
  font-size: 1.2em;
  margin-bottom: 14px;
  margin-left: 12px;
  text-shadow: 0px 0px 2px rgba(32, 32, 32, 1.0);
}

@media (max-width: 768px) {
  .create-panel__header {
    text-align: center;
  }
}

.create-panel__form {
  position: relative;
  width: 700px;
}

@media (max-width: 768px) {
  .create-panel__form {
    width: auto;
    width: 500px;
  }
}

@media (max-width: 520px) {
  .create-panel__form {
    width: 300px;
  }
}


.create-panel__form__name {
  @extend %rounded-border;
  @extend %default-font;

  color: white;
  font-size: 2em;
  background: black;
  padding: 25px;
  padding-left: 90px;
  padding-right: 90px;
  width: 100%;
  line-height: 40px;
}

.create-panel__form__name--expanded {
  padding-top: 415px;
}

@media (max-width: 768px) {
  .create-panel__form__name {
    min-width: auto;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
  }

  .create-panel__form__name--expanded {
    padding-top: 300px;
  }
}

@media (max-width: 520px) {
  .create-panel__form__name {
    padding-left: 15px;
    font-size: 1.2em;
  }

  .create-panel__form__name--expanded {
    padding-top: 190px;
  }
}

.create-panel__form__name::selection {
  background-color: #2F80ED;
  color: white;
}

.create-panel__form__name::-moz-selection {
  background-color: #2F80ED;
  color: white;
}

.create-panel__form__left_button {
  position: absolute;
  height: 100%;
  width: 90px;
  height: 95px;
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  bottom: 0;
}

@media (max-width: 520px) {
  .create-panel__form__left_button {
    display: none;
  }
}

.create-panel__form__right_button {
  position: absolute;
  height: 95px;
  width: 90px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  bottom: 0;
}

.create-panel__form__environment {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 14px;
  border: 3px solid white;
  border-radius: 14px;
  overflow: hidden;
  pointer-events: none;
}

@media (max-width: 768px) {
  .create-panel__form__environment {
    width: 100%;
  }
}

.create-panel__form__environment__picker {
  width: 100%;
  height: 390px;
  border-bottom: 3px solid white;
  overflow: hidden;
}

@media (max-width: 768px) {
  .create-panel__form__environment__picker {
    height: 280px;
  }
}

@media (max-width: 520px) {
  .create-panel__form__environment__picker {
    height: 165px;
  }
}

.create-panel__form__environment__picker__image {
  width: 100%;
}
