@import 'shared';

@import 'loader';
@import 'ui-root';
@import 'exited';
@import 'profile';
@import 'entry';
@import 'audio';
@import 'info-dialog';
@import 'shared';

.a-enter-vr, .a-orientation-modal {
  display: none;
}

.no-cursor {
  cursor: none;
}


.webxr-realities, .webxr-sessions {
  @extend %unselectable
}
