@import 'shared';

@import 'loader';
@import 'ui-root';
@import 'exited';
@import 'profile';
@import 'entry';
@import 'audio';
@import 'info-dialog';

body {
  background-color: #d7e5ec;
}

body.vr-mode-stretch {
  a-scene {
    .a-canvas {
      width: 200% !important;
    }
  }
}

.a-enter-vr, .a-orientation-modal {
  display: none;
}

.grab-cursor {
  cursor: grab;
}

.no-cursor {
  cursor: none;
}

.webxr-realities, .webxr-sessions {
  @extend %unselectable
}
