@import 'shared';

@import 'loader';
@import 'ui-root';
@import 'exited';
@import 'profile';
@import 'entry';
@import 'audio';
@import 'info-dialog';

.a-enter-vr {
  display: none;
}

.a-canvas.a-grab-cursor:hover {
  cursor: none;
}

.a-canvas.a-grab-cursor:active {
  cursor: none;
}
