* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.main-content {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
  min-width: 100%;
  min-height: 100%;
}
