@import 'root-vars';
@import 'shared';
@import 'info-dialog';
@import 'loader';

$header-section-width: 350px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--home-background-color);
  color: var(--home-text-color);
  @extend %default-font;
}

:local(.home) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:local(.main-content) {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;

  &:local(.noninteractive) {
    pointer-events: none;
  }
}

:local(.header-content) {
  padding: 0.5em 1.75em 0.5em 1.75em;
  background-color: var(--home-header-background-color);
  min-height: 65px;
  height: 65px;
  display: flex;

  @media (max-width: 768px), (max-height: 480px) {
    height: auto;
    min-height: auto;
    padding: 1em 0;
    flex-direction: column;
  }

  :local(.title-and-nav) {
    display: flex;

    @media (max-width: 1024px) {
      flex: 1 1 $header-section-width;
    }

    @media (max-width: 768px), (max-height: 480px) {
      justify-content: center;
      flex: 1;
    }

    :local(.links) {
      display: flex;
      align-items: center;

      @media (max-width: 768px), (max-height: 480px) {
        flex-direction: column;
      }

      a {
        display: flex;
        margin: 0 16px;
        color: var(--home-header-link-color);
        font-weight: bold;
        font-size: 1.4em;
        text-decoration: none;
        white-space: nowrap;
        
        @media (max-width: 768px), (max-height: 480px) {
          margin-top: 0.5em;
        }
      }
    }
  }

  :local(.sign-in) {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 768px), (max-height: 480px) {
      flex: 1;
      justify-content: center;
      margin-top: 1em;
    }

    a {
      text-decoration: underline;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

:local(.video-container) {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: none;
}

:local(.background-video) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.3;
}

:local(.hero-content) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex: 1;
  background-size: cover;
  padding: 1.5em;

  @media (max-width: 768px), (max-height: 480px) {
    padding: 0;
    padding-bottom: 64px;
    order: -1;
  }

  :local(.container) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 36px;

    @media (max-width: 768px) {
      width: 80%;
    }

    @media (max-height: 480px) {
      padding: 1em;
      padding-bottom: 0;
    }

    :local(.logo) {
      max-width: 250px;

      align-self: flex-start;
      margin-left: -25px;
      margin-bottom: -12px;

      @media (max-width: 768px) {
        align-self: auto;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
    :local(.logo-margin) {
      margin: 24px 0;
    }
    :local(.blurb) {
      white-space: pre-wrap;
      font-size: 18pt;
      margin: 0.5em 0;
      margin-bottom: 1em;
      align-self: flex-start;

      @media (max-width: 768px) {
        align-self: auto;
        font-size: 14pt;
        text-align: center;
      }
    }
  }
  :local(.hero-panel) {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  :local(.cta-buttons) {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    :local(.primary-button) {
      @extend %big-action-button;
    }
    :local(.cta-button) {
      font-size: 14pt;
      width: 19em;
      margin-right: 1em;

      @media (max-width: 380px) {
        width: 18em;
      }
    }
    :local(.secondary-button) {
      @extend %action-button-secondary;
      display: flex;
      flex-direction: row;
      width: 250px;
      margin-top: 18px;
      margin-bottom: 18px;
      padding-right: 20px;

      i {
        margin-right: 16px;
      }
    }
  }
  :local(.rightPanel) {
    flex: 0;
  }
  :local(.hero-video) {
    flex: 1;
    display: flex;
    :local(video) {
      width: 100%;
    }
  }
  :local(.have-code) {
    justify-content: flex-end;
    font-size: 14pt;
    margin-top: -2em;
  }
  :local(.secondary-link) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--home-header-link-color);
    margin-top: 8px;

    img {
      width: 24px;
      height: 24px;
    }

    a { 
      color: var(--home-header-link-color);
      margin-right: 4px;
      margin-left: 2px;
    }
  }
}

:local(.footer-content) {
  padding: 2.25em;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px), (max-height: 480px) {
    background-color: var(--home-footer-background-color);
    padding: 0 0 2em 0;
    margin: 0;
    justify-content: center;
    flex-direction: column;
  }

  :local(.powered-by) {
    text-align: center;
    align-self: flex-end;
    color: var(--home-footer-text-color);
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 768px), (max-height: 480px) {
      align-self: center;
    }

    :local(.prefix) {
      font-size: 0.8em;
      margin-bottom: 2px;
    }

    :local(.link) {
      color: var(--home-footer-link-color);
      font-weight: bold;
    }
  }

  :local(.links) {
    text-align: center;
    color: var(--home-footer-text-color);
    display: flex;
    flex-direction: column;

    :local(.company-logo) {
      height: 49px;
      margin-left: 18px;

      @media (max-width: 768px), (max-height: 480px) {
        width: 113px;
        height: 32px;
        margin: 0;
        margin-top: 18px;
      }
    }

    :local(.top) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media (max-width: 768px), (max-height: 480px) {
        align-items: center;
        flex-direction: column;
      }
    }

    :local(.link) {
      color: var(--home-footer-link-color);
      font-weight: bold;
      margin: 0 18px;

      @media (max-width: 768px), (max-height: 480px) {
        margin-top: 18px;
      }
    }

    :local(.bottom) {
      margin-top: 8px;

      a {
        color: var(--home-footer-text-color);
      }
    }
  }
}
