@import 'shared';
@import 'hub-create';
@import 'info-dialog';

$header-section-width: 350px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

.home-root {
  @extend %default-font;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:local(.home) {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

:local(.main-content) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;

  &:local(.noninteractive) {
    pointer-events: none;
  }
}

:local(.background-video) {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

:local(.header-content) {
  padding: 0.5em 1.75em 0.5em 1.75em;
  background-color: white;
  min-height: 65px;
  height: 65px;
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }

  :local(.title-and-nav) {
    display: flex;
    width: $header-section-width;
    cursor: pointer;

    @media (max-width: 768px) {
      justify-content: center;
    }

    @media (max-width: 1024px) {
      flex: 1 1 $header-section-width;
    }

    :local(.name) {
      width: 200px;
    }

    :local(.hubs) {
      font-size: 2.5em;
      font-weight: bold;
      pointer-events: none;
    }

    :local(.preview) {
      color: $grey-text;
      margin-left: 10px;
      margin-right: 20px;
      pointer-events: none;
    }

    :local(.links) {
      display: flex;
      align-items: center;

      a {
        margin: 0px 32px 0px 0px;
        color: black;
        font-weight: bold;
        font-size: 1.4em;
        text-decoration: none;
      }

      a:first-child {
        margin-left: 16px;
      }
    }
  }

  :local(.ident) {
    text-align: right;
    flex: 1 1 $header-section-width;
    width: $header-section-width;
  }
}

:local(.hero-content) {
  flex: 10;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @media (max-width: 768px) {
    padding: 0px;
    min-height: 490px;
  }

  :local(.attribution) {
    position: absolute;
    right: 12px;
    top: 12px;
    color: white;
    opacity: 0.8;

    a {
      font-weight: bold;
      color: white;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  :local(.container) {
    display: flex;
    flex-direction: column;
    align-items: center;

    :local(.logo) {
      width: 350px;
    }

    padding: 2em;

    :local(.title) {
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  :local(.create) {
    padding: 2.1em;
    padding-bottom: 3.5vw;
    position: relative;

    @media (max-width: 768px) {
      padding: 0.5em;
    }
  }

  :local(.join-button) {
    display: flex;
    justify-content: center;

    a {
      margin-top: 8px;
      @extend %action-button;
    }
  }
}

:local(.footer-content) {
  padding: 1em 2.25em;
  margin: 24px;

  @media (max-width: 768px) {
    padding: 1em;
    margin: 0;
  }

  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  :local(.links) {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;

    :local(.moz-logo) {
      width: 172px;
      height: 49px;
      margin-left: 18px;

      @media (max-width: 768px) {
        width: 113px;
        height: 32px;
        margin: 0;
      }
    }

    :local(.top) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    :local(.link) {
      color: black;
      font-weight: bold;
      margin: 0 18px;

      @media (max-width: 768px) {
        display: none;
      }
    }

    :local(.bottom) {
      margin-top: 8px;

      a {
        color: black;
      }
    }
  }
}

