@import 'shared';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.home-root {
  @extend %default-font;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.home {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

@media (max-width: 768px) {
  .background-video video {
    width: 50%;
    height: 50%;
  }
}


.header-content {
  padding: 1.35em 2.5em 1.35em 2.5em;
  background-color: black;
  min-height: 75px;
  display: flex;
  border-bottom: 1px solid #242424;
}

.header-content__title {
  flex: 10;
  display: flex;
}

@media (max-width: 768px) {
  .header-content__title {
    justify-content: center;
  }
}

.header-content__title__name {
  font-size: 2.0em;
}

.header-content__title__preview {
  color: $grey-text;
  margin-left: 10px;
}

.header-content__experiment {
  text-align: right;
  flex: 1 1 350px;
  color: $grey-text;
  font-size: 1.0em;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .header-content__experiment {
    display: none;
  }
}


.header-content__experiment__info {
  display: flex;
  flex-direction: column;
}

.header-content__experiment__info__header a {
  color: $grey-text;
}

.header-content__experiment__info__link {
  color: $dark-grey;
  font-size: 0.8em;
  padding-top: 4px;
}

.hero-content {
  //  background-color: blue;
  flex: 10;
  text-shadow: 0px 0px 2px rgba(32, 32, 32, 1.0);
  padding: 3vw 3.5vw 3vw 3.5vw;
}

@media (max-width: 768px) {
  .hero-content {
    padding: 1em 1.5em 1em 1.5em;
  }
}

.hero-content__container {
  display: flex;
  flex-direction: column;
}

.hero-content__container__title {
  font-size: 4vw;
  font-weight: bold;
}

@media (max-width: 768px) {
  .hero-content__container__title {
    font-size: 1.9em;
    text-align: center;
  }
}

@media (min-width: 1824px) {
  .hero-content__container__title {
    font-size: 4.5em;
  }
}

.hero-content__container__subtitle {
  font-size: 2.5vw;
  font-weight: lighter;
  color: $light-text;
  margin-top: 0.2em;
}

@media (max-width: 768px) {
  .hero-content__container__subtitle {
    font-size: 1.1em;
    text-align: center;
    margin-top: 0.5em;
  }
}

@media (min-width: 1824px) {
  .hero-content__container__subtitle {
    font-size: 2.8em;
  }
}

.footer-content {
  //  background-color: green;
}

