.dialog-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  color: white;
  z-index: 2;
}

.dialog {
  display: grid;
  grid-template-columns: 1fr 20px minmax(200px,525px) 20px 1fr;
  grid-template-rows: 1fr 20px 275px 20px 1fr;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);

  &--tall {
    grid-template-rows: 1fr 20px 675px 20px 1fr;
  }

  &__box {
    grid-column: 3;
    grid-row: 3;
    position: relative;
    pointer-events: auto;

    &__contents {
      background-color: rgba(0,0,0,0.8);
      border-radius: 8px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;

      &__title {
	@extend %top-title;
      }

      &__body {
	margin: 40px;
	margin-bottom: 0px;
	font-size: 1.1em;
	margin-top: 20px;
	color: $grey-text;
	display: flex;
	flex-direction: column;

	a { color: white }
      }

      &__close {
	position: absolute;
	left: 12px;
	top: 6px;
	color: white;
	font-size: 1.4em;

	background: none;
	cursor: pointer;
	border: none;
      }
    }
  }
}

.invite-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__link {
    display: flex;
    flex-direction: row;
  }

  &__link_field {
    @extend %rounded-border;
    @extend %default-font;
    color: $light-text;
    font-size: 1.2em;
    background-color: transparent;
    line-height: 2.0em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    margin: 0.5em 0;
    width: 100%;
  }

  &__action-button {
    @extend %bottom-button;
    margin-left: 6px;
    margin-right: 6px;
    appearance: none;
    width: 128px;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

.mailing-list-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;

  &__first {
    width: 100%;
  }

  &__email_field {
    @extend %rounded-border;
    @extend %default-font;
    color: $light-text;
    font-size: 1.2em;
    background-color: transparent;
    line-height: 2.0em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    margin: 0.5em 0;
    width: 100%;
  }

  &__submit {
    @extend %bottom-button;
    border: 0;
    margin-top: 16px;
  }

  &__privacy {
    margin-top: 10px;
    font-size: 0.7em;
  }

  &__privacy_checkbox {
    @extend %checkbox;
    vertical-align: middle;
  }

  &__privacy_checkbox:checked {
    @extend %checkbox-checked;
    vertical-align: middle;
  }
}


.info-dialog {
  &__help {
    text-align: left;

    &__hud {
      margin: 12px;
    }
  }
}
