@import 'shared.scss';

:local(.dialog) {
  background-color: $action-color;
  border-radius: 12px;
  box-shadow: 0px 5px 10px 1px #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 14px;
  text-align: center;
  position: relative;
  font-size: 1.1em;
  
  a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
  }
}

:local(.close) {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 12px;
  font-size: 2.0em;
  top: 0px;
  cursor: pointer;
}

:local(.attach-point) {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $action-color;
  position: absolute;
  top: -5px;
}

:local(.code) {
  color: black;
  font-family: monospace;
  font-weight: bold;
  text-decoration: none;
  font-size: 2.0em;
  display: flex;
  margin: 12px;
}

:local(.header) {
  font-weight: bold;
}

:local(.keep-open) {
  font-size: 0.8em;
}

:local(.domain) {
  input {
    @extend %default-font;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    margin: 12px;
    font-size: 1.8em;
    padding: 14px;
    display: block;
    width: 295px;
  }
}

:local(.copy-link-button) {
  @extend %action-button-selected;
  margin-top: 4px;
}

:local(.digit) {
  padding: 0 8px;
  margin: 2px;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  width: 32px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.code-loading-panel) {
  background: none;
}
