@import 'shared.scss';

:local(.dialog) {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: auto;
}

:local(.header) {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 12px;
}

:local(.contents) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:local(.domain) , :local(.code) {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

:local(.domain) {
  @extend %default-font;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-align: center;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  margin: 12px;
  padding: 14px;
  display: block;
  width: 295px;
}

:local(.code) {
  color: black;
  font-family: monospace;
  font-weight: bold;
  text-decoration: none;
  font-size: 2.5em;
  display: flex;
  margin: 12px;
}

:local(.imageHeader) {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100px;
  fill: black;
}

:local(.keep-open) {
  font-size: 0.8em;
}

:local(.digit) {
  padding: 0 8px;
  margin: 2px;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  width: 32px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.code-loading-panel) {
  background: none;
}
