@import 'shared.scss';

:local(.dialog) {
  position: absolute;
  color: var(--lightbox-text-color);
  width: 100%;
  height: 100%;
  background-color: var(--lightbox-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: auto;
}

:local(.header) {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;

  @media(max-height: 420px) {
    display: none;
  }
}

:local(.contents) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:local(.domain) , :local(.code) {
  color: var(--lightbox-text-color);
  font-weight: bold;
  text-decoration: none;
}

:local(.domain) {
  @extend %default-font;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
  color: var(--lightbox-text-field-text-color);
  text-align: center;
  background-color: var(--lightbox-text-field-color);
  border: 1px solid var(--lightbox-text-field-border-color);
  border-radius: 12px;
  margin: 12px;
  padding: 14px;
  display: block;
  min-width: 295px;
  width: max-content;
}

:local(.code) {
  color: var(--lightbox-text-field-text-color);
  font-weight: bold;
  text-decoration: none;
  font-size: 2.5em;
  display: flex;
  margin: 12px;
}

:local(.imageHeader) {
  width: 100px;
  height: 100px;
  background-color: var(--lightbox-icon-background-color);
  border-radius: 50px;
  fill: var(--lightbox-icon-color);
  margin-bottom: 24px;
  padding-right: 4px;

  @media(max-height: 420px) {
    display: none;
  }
}

:local(.keep-open) {
  font-size: 0.8em;
  white-space: pre;
  text-align: center;
}

:local(.digit) {
  padding: 0 8px;
  margin: 2px;
  background-color: var(--lightbox-text-color);
  border: 1px solid var(--lightbox-text-field-border-color);
  border-radius: 12px;
  width: 32px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.code-loading-panel) {
  background: none;
}

:local(.close) {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 12px;
  font-size: 3.0em;
  top: 0px;
  cursor: pointer;
}

:local(.close-button) {
  @extend %action-button;
  background-color: var(--lightbox-widget-color);
  margin-top: 24px;
}

