@use "../../react-components/styles/theme.scss";
// Breakpoint at 801px for Oculus Browser 

:local(.tiles) {
  margin: 8px 8px 24px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 700px) {
    margin-top: 8px;
  }

  :local(.tile) {
    margin: 16px 8px;
    cursor: pointer;
    position: relative;

    :local(.info) {
      margin-top: 4px;

      :local(.name) {
        font-size: 1.2em;

        @media(max-width: 801px) {
          font-size: 1.1em;
        }

        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: black;
        text-decoration: none;
        display: block;
      }

      :local(.attribution) {
        display: flex;

        @media (max-width: 801px) {
          flex-direction: column;
          align-items: flex-start;
        }

        align-items: center;
        justify-content: space-between;
        font-size: 0.8em;
        font-weight: bold;
        color: rgba(64, 64, 64, 1.0);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      :local(.creator) {
        font-weight: normal;

        a {
          color: rgba(64, 64, 64, 1.0);
          font-weight: normal;
        }
      }

      :local(.publisher) {
        i {
          color: lightgrey;
        }

        a {
          color: rgba(64, 64, 64, 1.0);
          font-weight: normal;

          @media (min-width: 700px) {
            color: rgba(127, 127, 127, 1.0);
          }
        }
      }

      :local(.last-joined) {
        font-weight: normal;
      }
    }

    :local(.tile-link) {
      width: 100%;
      display: block;

      :local(.tile-content) {
        background-color: lightgrey;
        border-radius: 12px;
        width: 100%;
        height: 100%;
      }
      img:local(.tile-content) {
        filter: brightness(1.1) contrast(1.1);
      }
      img:local(.avatar-tile) {
        filter: none;
        background-color: #f0f0f0;
      }
    }

    :local(.favorite) {
      position: absolute;
      top: 6px;
      left: 7px;
      color: #FFC000;
    }

    :local(.tile-actions) {
      position: absolute;
      top: 6px;
      right: 7px;

      a {
        color: black;
        background: #ffffffde;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        display: block;
        margin-bottom: 5px;

        &:hover {
          background: #FF3464;
          color: white;
        }
      }
    }

    :local(.presence) {
      position: absolute;
      top: 165px;
      right: 7px;
      background: #ffffffde;
      height: 30px;
      border-radius: 30px;
      line-height: 30px;
      padding: 0 10px;

      span {
        margin-left: 5px;
      }
    }
  }
}

:local(.tile):local(.create-tile) {
  display: flex;
  margin-bottom: 4em;

  :local(.tile-link) {
    flex: 1;
    text-decoration: none;
    :local(.tile-content) {
      background-color: #f0f0f0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      color: grey;
      font-size: 14pt;
      padding: 10pt;
      box-sizing: border-box;
      .fa-plus {
        font-size: 20pt;
        margin: 8px;
      }
    }
  }
}

:local(.tile):local(.create-avatar-tile) {
  margin-bottom: 3em;
}

:local(.tiles-variable) {
  justify-content: flex-start;
}

:local(.pager) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;

  a {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-decoration: none;
    outline-style: none;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    border-radius: 28px;
    padding: 0px 18px;

    background: #FF3464;
    font-size: 1em;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 150px;
    height: 48px;
    margin: 32px;
    width: 48px;
    height: 48px;
    padding: 0;
    min-width: auto;
    font-weight: bold;
  }

  :local(.pager-button-disabled) {
    pointer-events: none;
    background-color: rgba(64, 64, 64, 1.0)
  }
}

  