@import 'shared.scss';

:local(.oauth-type-name) {
  text-transform: capitalize;
}
:local(.oauth-icon) {
  font-size: 32px;
  margin-right: 0.2em;
  margin-top: 2px;
}
:local(.privacy-notice) {
  font-size: 7pt;
}
:local(.oauth-buttons) {
  flex-direction: column;
}
:local(.oauth-button) {
  @extend %action-button;
  margin-top: 24px;
  color: $action-text-color !important;
  flex-direction: row;
}
:local(.oauth-twitter-button) {
  @extend %twitter-action-button;
}
:local(.oauth-discord-button) {
  @extend %discord-action-button;
}
:local(.oauth-slack-button) {
  @extend %slack-action-button;
}
:local(.twitter-message) {
  margin: 24px 36px 0 36px;
}
