@import 'shared.scss';
:local(.root) {
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  width: 100%;
  display: flex;
  flex-flow: column;
  background: $light-blue;
  align-items: center;

  p {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }
}
:local(.float-right) {
  top: 1em;
  right: 1em;
  position: absolute;
  background: $action-color-light;
  transform: scale(2);
}
:local(.row) {
  width: 80%;
  display: flex;
  flex-flow: row;
  background: $bright-blue;
}
:local(.rowScale) {
  p {
    font-size: 1.4em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
  }
}
:local(.rowScaleHover) {
  p {
    font-size: 1.6em;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }
}
:local(.rowName) {
  width: 80%;
  text-align: end;
  background: $twitter-action-color;
  margin-inline-end: 1em;
}
:local(.rowNameHover) {
  background: $action-color;
}
:local(.rowSelectionArea) {
  width: 20%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  background: $discord-action-color;
  text-align: center;
}

:local(.flipSelector){
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: $duck-yellow;

  svg {
    width: 30% !important;
  }
  span {
    width: 40% !important;
    font-size: x-large;
    font-weight: bold;
  }
}
:local(.checkBoxScale) {
  transform: scale(2);
}
:local(.checkBoxScaleHover) {
  transform: scale(2.2);
}

:local(.prevOptionScale) {
  height: 2em;
}
:local(.nextOptionScale) {
  height: 2em;
}

:local(.prevOptionHoveredScale) {
  height: 2.2em;
}
:local(.nextOptionHoveredScale) {
  height: 2.2em;
}
:local(.numberWithRange){
  display: flex;
  flex-flow: row;
  width: 20%;

  input[type=text] {
    width: 20%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    background: $darkest-grey;
    color: white;
  }
}
:local(.rangeSlider) {
  width: 80%;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
