@import 'shared.scss';
@import 'drop-menus.scss';

:local(.presence-list) {
  @extend %drop-menu;
  right: 16px;
}

:local(.attach-point) {
  @extend %attach-point;
  top: -5px;
  right: 44px;

  @media(max-width: 500px) {
    right: 22px;
  }
}

:local(.self-display-name) {
  text-decoration: underline;
}

:local(.presence) {
  flex: 1;
  white-space: nowrap;
  text-align: right;
}

:local(.sign-in) {
  display: flex;
  justify-content: center;
  border-top: 1px solid grey;
  padding-top: 0.5em;
  a {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    margin-left: 24px;
  }
}

:local(.icon) {
  width: 32px;
  height: 32px;
  position: relative;
  margin: 0px 12px 0px 0px;

  img {
    position: absolute;
    left: 2px;
    width: 32px;
    height: 32px;
  }
}

