@import 'shared.scss';
@import 'drop-menus.scss';

:local(.presence-list) {
  @extend %drop-menu;
  right: 16px;
}

:local(.attach-point) {
  @extend %attach-point;
  top: -5px;
  right: 44px;

  @media(max-width: 500px) {
    right: 22px;
  }
}

:local(.presence) {
  flex: 1;
  white-space: nowrap;
  text-align: right;
  p {
    margin-left: 8px;
  }
}

:local(.sign-in) {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--panel-rule-color);
  margin-top: 12px;
  padding-top: 12px;
  font-size: 0.8em;

  a {
    text-decoration: underline;
    text-decoration-color: var(--panel-link-underline-color);
    font-weight: bold;
    cursor: pointer;
    margin-left: 24px;
  }
}

%icon {
  width: 24px;
  height: 24px;
  position: relative;
  margin: 0px 12px 0px 0px;

  img {
    position: absolute;
    left: 2px;
    width: 24px;
    height: 24px;
  }
}

:local(.icon) {
  @extend %icon;
}

:local(.icon-red) {
  @extend %icon;
  color: $action-color;
}

:local(.icon-button) {
  cursor: pointer;
}

:local(.self) {
  text-decoration: none;

  i {
    margin-left: 12px;
    color: var(--menu-icon-color);
  }

  i:hover {
    color: $action-label-color;
  }
}

:local(.client-link) {
  @extend %link-button;
  @extend %default-font;
}

:local(.moderator-badge) {
  color: $action-label-color;
  margin-left: 4px;
  text-decoration: none;
}


:local(.mute-all) {
  border-bottom: 1px solid var(--panel-rule-color);
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
}

:local(.mute-button) {
  @extend %action-button;
  pointer-events: auto;
}
