@import 'shared.scss';

:local(.presence-log) {
  align-self: flex-start;
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 8px;
  margin-top: 90px;
  overflow: hidden;
  width: 100%;

  :local(.presence-log-entry) {
    @extend %default-font;
    pointer-events: auto;

    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;

    background-color: $white-transparent;
    margin: 8px 64px 8px 16px;
    font-size: 0.8em;
    padding: 8px 16px;
    border-radius: 16px;

    a {
      color: $action-color;
    }

    @media (max-width: 1000px) {
      max-width: 75%;
    }
  }

  :local(.expired) {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-8px);
    transition: visibility 0s 0.5s, opacity 0.5s linear, transform 0.5s;
  }

}

:local(.presence-log-in-room) {
  max-height: 200px;

  @media(min-height: 800px) and (min-width: 600px) {
    max-height: 400px;
  }

  position: absolute;
  bottom: 165px;

  :local(.presence-log-entry) {
    background-color: $hud-panel-background;
    color: $light-text;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

:local(.emoji) {
  // Undo annoying CSS in emoji plugin
  margin: auto !important;
  vertical-align: 0em !important;
}
