@import 'shared.scss';
@import 'drop-menus.scss';

:local(.presence-list) {
  @extend %drop-menu;
  right: 16px;
}

:local(.attach-point) {
  @extend %attach-point;
  top: -5px;
  right: 44px;

  @media(max-width: 500px) {
    right: 22px;
  }
}

:local(.presence) {
  flex: 1;
  white-space: nowrap;
  text-align: right;
}

:local(.sign-in) {
  display: flex;
  justify-content: center;
  border-top: 1px solid $light-grey;
  margin-top: 12px;
  padding-top: 12px;
  font-size: 0.8em;

  a {
    text-decoration: underline;
    text-decoration-color: $dark-grey;
    font-weight: bold;
    cursor: pointer;
    margin-left: 24px;
  }
}

:local(.icon) {
  width: 24px;
  height: 24px;
  position: relative;
  margin: 0px 12px 0px 0px;

  img {
    position: absolute;
    left: 2px;
    width: 24px;
    height: 24px;
  }
}

:local(.self) {
  text-decoration: none;

  i {
    margin-left: 12px;
    color: $dark-grey;
  }

  i:hover {
    color: $action-color;
  }
}
