@import 'shared';

:local(.profile-entry) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: auto;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.98);


  a {
    cursor: pointer;
  }

  :local(.logo) {
    width: 150px;
    position: absolute;
    right: 32px;
    bottom: 32px;
    display: none;

    @media (min-width: 500px) {
      display: block;
    }
  }

  :local(.form) {
    height: 100%;
  }

  :local(.box) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    flex: 1 1 100%;
    width: 60vw;
    min-width: 300px;
    max-width: 700px;
    min-height: 200px;
    max-height: 1000px;
    height: 90%;

    :local(.links) {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 16px;

      a {
        margin: 0px 12px;
        color: $dark-grey-text;
      }
    }

    :local(.darkened) {
      background-color: $darkest-transparent;
    }
  }

  :local(.title) {
    @extend %top-title;
    width: 100%;
    color: black;
    text-align: center;
  }

  :local(.display-name) {
    font-size: 14pt;
    padding: 1em;
  }

  :local(.form-field-text) {
    @extend %form-field-on-white;
    @extend %default-font;

    font-size: 1.1em;
    color: black;
    outline: none;
    line-height: 2.0em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    margin: 0.5em 0;
  }

  :local(.form-submit) {
    @extend %bottom-action-button;
    margin: 0;
    min-height: max-content;
    margin-top: 16px;
  }

  :local(.preview) {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
    max-width: 300px;
  }

  :local(.choose-avatar) {
    position: absolute;
    width: 100%;
    bottom: 16px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    a {
      align-self: flex-end;
      @extend %action-button-secondary;
    }
  }

  :local(.edit-avatar) {
    position: absolute;
    top: 15px;
    right: 20px;
    color: black;
    font-size: 16pt;
  }

  :local(.close) {
    top: 32px;
    left: 24px;
    height: 35px;
    position: absolute;
    font-size: 1.6em;
  }
}
