.profile-entry {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: auto;

  &__avatar-selector {
    border: none;
    width: 95%;
    height: 100%;
    margin: 1em 0;
  }

  &__box {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex: 1 1 100%;
    width: 60vw;
    min-width: 300px;
    max-width: 700px;
    height: 500px;

    &--darkened {
      background-color: $darkest-transparent;
    }
  }

  &__subtitle {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: $grey-text;
  }

  &__display-name-label {
    font-size: 1.2em;
    margin-right: 0.5em;
  }
  &__form-field-text {
    @extend %rounded-border;
    @extend %default-font;

    color: $light-text;
    font-size: 1.2em;
    background-color: transparent;
    line-height: 2.0em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    margin: 0.5em 0;
  }

  &__terms {
    margin-bottom: 16px;

    &__checkbox {
      @extend %checkbox;
      vertical-align: unset;
    }
    &__checkbox:checked {
      @extend %checkbox-checked;
    }

    &__text {
      display: inline-block;
      max-width: 20em;
    }

    &__link {
      color: white;
    }

    &__link:visited {
      color: grey;
    }
  }

  &__form-submit {
    @extend %bottom-button;
    margin: 0;
  }
}

.profile-info-header {
  display: flex;
  flex: 1 1 40px;
  width: 100%;

  &__icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 15px;
  }

  &__profile_display_name {
    cursor: pointer;
    flex: 6 1 auto;
    font-size: 1.2em;
    line-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__app_name {
    font-size: 1.8em;
    padding-right: 18px;
    line-height: 50px;
    white-space: nowrap;
  }
}

