@import 'shared';

:local(.confirm-button) {
  @extend %action-button;
  margin-top: 8px;
  flex-direction: row;
}

:local(.cancel-button) {
  @extend %action-button-secondary;
  margin-top: 8px;
}

:local(.message) {
  margin-bottom: 12px;
  white-space: pre-wrap;
}
