@import 'shared';

:local(.rename-room-form) {
  @extend %centered-flex-column;
  margin: 8px 48px;
}

:local(.name-field) {
  @extend %input-field;
  margin: 1.5em 0 0.5em 0;
}

:local(.next-button), :local(.continue-button) {
  @extend %action-button;
  margin-top: 8px;
}
