@use "../../react-components/styles/theme.scss";
@import 'shared';

:local(.ui) {
  @extend %default-font;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  color: white;
}

:local(.whiteOverlay) {
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

:local(.grid) {
  display: grid;
  grid-template-columns: 1fr 20px minmax(200px, 400px) 20px 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  width: 100%;
  height: 100%;
}

:local(.mainPanel) {
  grid-column: 3;
  grid-row: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: auto;

}

:local(.logoTagline) {
  color: black;
  text-shadow: 0px 0px 10px #888;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin-bottom: 32px;
}


:local(.logo) {
  width: 100%;
  display: block;
  filter: drop-shadow(0 0 4px #888);
  padding-bottom: 1em;

  img {
    width: 100%;
  }
  svg {
    width: 100%;
    min-height: 210px;
  }
}

:local(.info) {
  position: absolute;
  color: black;
  text-shadow: 0px 0px 10px #888;
  bottom: 12px;
  left: 12px;
  display: flex;
  flex-direction: column;
}

:local(.name) {
  font-weight: bold;
  font-size: 1.6em;
}

:local(.attribution) {
  font-size: 1.0em;
  white-space: wrap;

  .remix {
    font-size: 0.8em;
  }

  a {
    font-size: 0.8em;
    color: black;
    pointer-events: auto;
  }
}

:local(.screenshot) {
  position: absolute;
  width: 115%;
  height: 115%;
  top: -40px;
  left: -40px;

  img {
    width: 100%;
    height: 100%;
  }

  background-color: black;
  filter: blur(10px);
}

:local(.screenshotHidden) {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

:local(.spoke) {
  @media(max-width: 768px) {
    display: none;
  }

  pointer-events: auto;
  position: absolute;
  right: 12px;
  bottom: 8px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.8em;
  font-weight: bold;

  :local(.madeWith) {
    color: black;
    text-shadow: 0px 0px 4px #333;
    margin-left: 4px;
    position: absolute;
    top: -1em;
    left: 0;
  }

  img {
    width: 200px;
  }
}


:local(.scenePreviewButtonWrapper) {
  margin: auto;
  display: flex;
  max-width: 60vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

:local(.scenePreviewButton) {
  @extend %action-button;
  display: flex;
  flex-direction: row;
  border: 1px solid #007AB8;
  background-color: #007AB8; 
  color: theme.$text5-color;
  box-sizing: border-box;
  border-radius: 13px;
  margin: .5rem 0 .5rem 0;
  svg {
    margin-right: 8px;
    *[stroke=\#000] {
      stroke: theme.$text5-color;
    }

    *[fill=\#000] {
      fill: theme.$text5-color
    }
  }
  &:hover {
    background-color: #008bd1;
    color: theme.$text5-color;
    svg {
      *[stroke=\#000] {
        stroke: theme.$text5-color
      }
  
      *[fill=\#000] {
        fill: theme.$text5-color
      }
    }
    
  }
  &:active {
    background-color: #00699E;
  }
}

:local(.unavailable) {
  color: theme.$text1-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


:local(.attribution) {
  & > * {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}
