$dark-transparent: rgba(0, 0, 0, 0.4);
$darker-transparent: rgba(0, 0, 0, 0.6);
$darkest-transparent: rgba(0, 0, 0, 0.95);
$grey-text: rgba(192, 192, 192, 1.0);
$light-text: rgba(240, 240, 240, 1.0);
$dark-grey: rgba(128, 128, 128, 1.0);
$darker-grey: rgba(64, 64, 64, 1.0);

%default-font {
  font-family: 'Zilla Slab', sans-serif;
}

%rounded-border {
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 14px;
}

%bottom-button {
  @extend %default-font;
  font-size: 1em;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 30px;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 14px;
  padding: 12px;
  background: none;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

%top-title {
  font-size: 1.3em;
}

%top-subtitle {
  font-size: 1.0em;
  padding-top: 4px;
}

%big-icon-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  color: white;
  border: none;
  font-size: 64pt;
}

%checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border: 3px solid white;
  border-radius: 9px;
  vertical-align: sub;
  margin: 0 0.6em
}

%checkbox-checked {
  border: 9px double white;
  outline: 9px solid white;
  outline-offset: -18px;
}

%fa-icon-button {
  @extend %default-font;
  margin: 16px 0;
  padding: 0;
  display: block;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.8em;
}

%fa-icon-button-icon {
  background: black;
  width: 40px !important;
  height: 40px;
  border: 3px solid white;
  border-radius: 40px;
  display: inline-block;
  font-size: 22px;
  vertical-align: sub;
  line-height: 42px;
  svg {
    margin-left: 0px;
  }
}

%fa-icon-button-text {
  margin-left: 16px;
}
