$light-transparent: rgba(0, 0, 0, 0.2);
$white-transparent: rgba(255, 255, 255, 0.90);
$dark-transparent: rgba(0, 0, 0, 0.4);
$darker-transparent: rgba(0, 0, 0, 0.6);
$darkest-transparent: rgba(0, 0, 0, 0.9);
$grey-text: rgba(127, 127, 127, 1.0);
$dark-grey-text: rgba(64, 64, 64, 1.0);
$light-text: rgba(240, 240, 240, 1.0);
$lighter-grey: #f0f0f0;
$light-grey: lightgrey;
$dark-grey: rgba(128, 128, 128, 1.0);
$darker-grey: rgba(64, 64, 64, 1.0);
$darkest-grey: rgba(32, 32, 32, 1.0);
$bright-blue: #2F80ED;
$light-blue: #6FC0FD;
$action-color: #FF3464;
$action-color-light: #FF74A4;
$action-color-transparent: rgba(255, 52, 100, 0.9);
$hud-panel-background: rgba(79, 79, 79, 0.45);
$spoke-action-color: $bright-blue;
$twitter-action-color: #1da1f2;
$discord-action-color: #7289da;
$semi-bold: 600;
$duck-yellow: #FFC000;

%unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%default-font {
  font-family: 'Open Sans', sans-serif;
}

%glass-text {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

%glass-icon {
  -webkit-filter: drop-shadow( 0px 0px 3px #606060 ); 
  filter: drop-shadow( 0px 0px 3px #606060 );
}

%rounded-border {
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 10px;
}

%centered-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}

%form-field-on-white {
  border: 1px solid #e2e2e2;
  background-color: white;
  border-radius: 10px;
}

%input-field {
  @extend %rounded-border;
  @extend %default-font;
  color: black;
  font-size: 1.2em;
  background-color: transparent;
  line-height: 2.0em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin: 0.5em 0;
  width: 100%;
}

%big-action-button {
  @extend %default-font;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline-style: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 32px;
  border: 0;
  width: 350px;
  padding: 18px;
  text-decoration: none;

  @media (max-width: 768px) {
    width: auto;
    padding: 18px 48px;
  }

  background: $action-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  margin-right: 12px;
  margin-left: 12px;
  white-space: nowrap;
}

%bottom-button {
  @extend %action-button;
  margin: 16px 0;
}

%wide-button {
  width: 350px;

  @media (max-width: 768px) {
    width: 327px;
  }

  @media (max-width: 375px) {
    width: 300px;
  }
}

%link-button {
  text-decoration: underline;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline-style: none;
  border: 0;
  background: none;
  font-size: 1.0em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  cursor: pointer;
  pointer-events: auto;
}

%action-button {
  @extend %default-font;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  outline-style: none;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  border-radius: 28px;
  padding: 0px 18px;

  background: $action-color;
  font-size: 1em;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
  height: 48px;
}

%entry-action-button {
  border-radius: 30px;
  height: 60px;
}

%action-button-secondary {
  @extend %action-button;
  background-color: white;
  color: $action-color;
}

%action-button-secondary-modal {
  @extend %action-button;
  background-color: #f4f4f4;
  color: $action-color;
}


%action-button-selected {
  background: white;
  color: $action-color;
}

%bottom-action-button {
  @extend %bottom-button;
  background: $action-color;
}

%spoke-action-button {
  @extend %action-button;
  background-color: $spoke-action-color;
}

%discord-action-button {
  @extend %action-button;
  background-color: $discord-action-color;
}

%twitter-action-button {
  @extend %action-button;
  background-color: $twitter-action-color;
}

%top-title {
  font-size: 1.5em;
  font-weight: bold;
}

%top-subtitle {
  font-size: 1.0em;
  padding-top: 4px;
}

%big-icon-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  color: white;
  border: none;
  font-size: 64pt;
  outline-style: none;
}

%checkbox {
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border: 1px solid #e2e2e2;
  background-color: white;
  border-radius: 6px;
  vertical-align: sub;
  margin: 0 0.7em
}

%checkbox-checked {
  outline: 9px solid $action-color;
  outline-offset: -15px;
}

%background-agnostic {
  color: black;
  text-shadow: 0px 0px 10px #888;
}

%fa-icon-button {
  @extend %default-font;
  margin: 16px 0;
  padding: 0;
  display: block;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 0.8em;
  outline-style: none;
}

%fa-icon-big {
  width: 40px !important;
  height: 40px;
  display: inline-block;
  font-size: 22px;
  vertical-align: sub;
  line-height: 42px;
  svg {
    margin-left: 0px;
  }
}

%fa-icon-button-icon {
  background: black;
  width: 40px !important;
  height: 40px;
  border: 3px solid white;
  border-radius: 40px;
  display: inline-block;
  font-size: 22px;
  vertical-align: sub;
  line-height: 42px;
  svg {
    margin-right: 2px;
  }
}

%fa-icon-button-text {
  margin-left: 16px;
}

%tip-bubble {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 28px;
  border: 0;
  pointer-events: auto;
  z-index: 2;
  font-size: 0.8em;
  color: white;
  padding: 12px 24px;
  background-color: $bright-blue;
  text-align: center;
}
