@import 'shared';

:local(.sign-in-form), :local(.sign-in-complete) {
  @extend %centered-flex-column;
}

:local(.email-field) {
  @extend %input-field;
  margin: 1.5em 0 0.5em 0;
}

:local(.next-button), :local(.continue-button) {
  @extend %action-button;
}

:local(.terms) {
  font-size: 7pt;
  margin-bottom: 32px;
}
