@import 'shared.scss';

:local(.tweet) {
  width: 600px;

  @media (max-width: 700px) {
    width: 400px;
  }

  @media (max-width: 475px) {
    width: 300px;
  }
}

:local(.editor) {
  background-color: var(--text-field-background-color);
  border: 2px solid var(--twitter-editor-border-color);
  margin: 24px 36px 0px 36px;
  padding: 18px;
  padding-bottom: 20px;
  text-align: left;
  font-size: 1em;
  border-radius: 12px;
  position: relative;
  font-weight: normal;
  min-height: 7em;
  cursor: text;
  display: flex;
  flex-direction: column;

  @media (max-width: 475px) {
    margin: 24px 8px 0px 8px;
  }

  :local(.editor-inner) {
    padding-right: 36px;
  }
  
  a {
    color: var(--twitter-link-color);
  }

  button {
    cursor: pointer;
  }
}

:local(.emoji-button) {
  position: absolute;
  top: 0px;
  right: 0px;
}

// Emoji pop out button
:local(.emoji-button) > div > button {
  border: none;
  font-size: 2em;
  width: 1.5em;
  margin-right: 4px;
}

// Emoji pop out menu
:local(.emoji-button) > div > div {
  right: 0px;
  cursor: pointer;
}

:local(.counter) {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
}

:local(.media) {
  align-self: center;
  margin-top: 18px;

  img, video {
    border-radius: 8px;
    width: 450px;
    height: 255px;


    @media (max-width: 700px) {
      width: 275px;
      height: 155px;
    }

    @media (max-width: 475px) {
      width: 175px;
      height: 100px;
    }
  }
}

:local(.buttons) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  :local(.tweet-button) {
    @extend %twitter-action-button;
    margin-top: 36px;
  }

  :local(.tweet-button):disabled {
    background-color: var(--panel-widget-disabled-color);
  }
}

:local(.posted) {
  margin: 24px 36px 0px 36px;

  @media (max-width: 475px) {
    margin: 24px 8px 0px 8px;
  }
}

:local(.tweet-loader) {
  height: 40px;
}
:local(.dialog-background) {
  background-color: var(--twitter-panel-background-color);
}
