@import 'shared';

:local(.emojiPanel) {
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  box-sizing: border-box;
  bottom: 24px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 5px;
  background-color: $hud-panel-background;
  border-radius: 300px;

  z-index: 2;

  @media (max-width: 400px) {
    width: 320px;
    margin-left: -160px;
  }
}

:local(.iconEmoji) {
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

:local(.iconEmoji.angry) {
  background-image: url(../images/chest-emojis/emoji-icons/angry-off.png);
}
:local(.iconEmoji.angry:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/angry-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/angry-off.png);
  }
}

:local(.iconEmoji.angry.active) {
  background-image: url(../images/chest-emojis/emoji-icons/angry-on.png);
}
:local(.iconEmoji.angry.active:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/angry-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/angry-on.png);
  }
}

:local(.iconEmoji.happy) {
  background-image: url(../images/chest-emojis/emoji-icons/happy-off.png);
}
:local(.iconEmoji.happy:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/happy-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/happy-off.png);
  }
}

:local(.iconEmoji.happy.active) {
  background-image: url(../images/chest-emojis/emoji-icons/happy-on.png);
}
:local(.iconEmoji.happy.active:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/happy-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/happy-on.png);
  }
}

:local(.iconEmoji.sad) {
  background-image: url(../images/chest-emojis/emoji-icons/sad-off.png);
}
:local(.iconEmoji.sad:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/sad-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/sad-off.png);
  }
}

:local(.iconEmoji.sad.active) {
  background-image: url(../images/chest-emojis/emoji-icons/sad-on.png);
}
:local(.iconEmoji.sad.active:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/sad-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/sad-on.png);
  }
}
:local(.iconEmoji.smile) {
  background-image: url(../images/chest-emojis/emoji-icons/smile-off.png);
}
:local(.iconEmoji.smile:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/smile-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/smile-off.png);
  }
}

:local(.iconEmoji.smile.active) {
  background-image: url(../images/chest-emojis/emoji-icons/smile-on.png);
}
:local(.iconEmoji.smile.active:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/smile-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/smile-on.png);
  }
}

:local(.iconEmoji.eww) {
  background-image: url(../images/chest-emojis/emoji-icons/eww-off.png);
}
:local(.iconEmoji.eww:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/eww-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/eww-off.png);
  }
}

:local(.iconEmoji.eww.active) {
  background-image: url(../images/chest-emojis/emoji-icons/eww-on.png);
}
:local(.iconEmoji.eww.active:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/eww-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/eww-on.png);
  }
}

:local(.iconEmoji.disgust) {
  background-image: url(../images/chest-emojis/emoji-icons/disgust-off.png);
}
:local(.iconEmoji.disgust:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/disgust-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/disgust-off.png);
  }
}

:local(.iconEmoji.disgust.active) {
  background-image: url(../images/chest-emojis/emoji-icons/disgust-on.png);
}
:local(.iconEmoji.disgust.active:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/disgust-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/disgust-on.png);
  }
}

:local(.iconEmoji.hearts) {
  background-image: url(../images/chest-emojis/emoji-icons/hearts-off.png);
}
:local(.iconEmoji.hearts:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/hearts-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/hearts-off.png);
  }
}

:local(.iconEmoji.hearts.active) {
  background-image: url(../images/chest-emojis/emoji-icons/hearts-on.png);
}
:local(.iconEmoji.hearts.active:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/hearts-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/hearts-on.png);
  }
}

:local(.iconEmoji.surprise) {
  background-image: url(../images/chest-emojis/emoji-icons/surprise-off.png);
}
:local(.iconEmoji.surprise:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/surprise-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/surprise-off.png);
  }
}

:local(.iconEmoji.surprise.active) {
  background-image: url(../images/chest-emojis/emoji-icons/surprise-on.png);
}
:local(.iconEmoji.surprise.active:hover) {
  @media (pointer: fine) {
    background-image: url(../images/chest-emojis/emoji-icons/surprise-on-hover.png);
  }
  @media (pointer: coarse) {
    background-image: url(../images/chest-emojis/emoji-icons/surprise-on.png);
  }
}
