.ui {
  @extend %default-font;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  color: white;

  &__help-icon {
    @extend %fa-icon-button;
    position: absolute;
    top: 0px;
    left: 14px;

    &__icon {
      @extend %fa-icon-button-icon;
      background: rgba(33, 33, 33, 0.5);
      pointer-events: auto;
      border-radius: 36px;
      display: inline-block;
      font-size: 22px;
      vertical-align: sub;
      line-height: 38px;
      border: 0;
      width: 36px;
      height: 36px;
    }
  }
}

.blurred {
  filter: blur(5px);
}

.ui-dialog {
  display: grid;
  grid-template-columns: 1fr 20px minmax(200px, 400px) 20px 1fr;
  grid-template-rows: 1fr 20px minmax(200px, 600px) 20px 1fr;
  width: 100%;
  height: 100%;

  &--darkened {
    background-color: $dark-transparent;
  }
}

.ui-dialog-box {
  grid-column: 3;
  grid-row: 3;
  position: relative;
}

.ui-dialog-box-contents {
  background-color: $darker-transparent;
  border-radius: 8px;
  width: 100%;
  height: 100%;

  &--backgrounded {
    filter: blur(1px);
    opacity: 0.7;
    pointer-events: none;
  }
}

.ui-interactive {
  pointer-events: auto;
}
