@import 'shared';

:local(.ui) {
  @extend %default-font;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;

  :local(.help-icon) {
    @extend %fa-icon-button;
    pointer-events: auto;
    position: absolute;
    top: 0px;
    right: 14px;

    i {
      background: white;
      border-radius: 36px;
      display: inline-block;
      font-size: 22px;
      vertical-align: sub;
      line-height: 34px;
      border: 0;
      width: 36px;
      height: 36px;
    }
  }
}

:local(.ui-dialog) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @extend %unselectable;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

:local(.ui-dialog-box-contents) {
  background-color: $white-transparent;
  border-radius: 18px 18px 0 0;
  width: 100%;
  max-width: 600px;

  :local(.backgrounded) {
    filter: blur(1px);
    opacity: 0.7;
    pointer-events: none;
  }
}

:local(.ui-interactive) {
  pointer-events: auto;
  @extend %unselectable;
}

:local(.invite-container) {
  @extend %unselectable;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: auto;

  button {
    @extend %action-button;
    pointer-events: auto;
    padding: 16px 28px;
    height: 58px;
  }

  @media (max-height: 420px) {
    display: none;
  }
}

:local(.invite-container-inverted) {
  button {
    @extend %action-button-selected;
  }
}

:local(.invite-container-below-hud) {
  margin-top: 100px;
}

:local(.nag-corner-button) {
  position: absolute;
  bottom: 42px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  pointer-events: none;

  button {
    @extend %default-font;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    min-width: 150px;
    margin-right: 12px;
    margin-left: 12px;
    white-space: nowrap;
    background: none;
    border: none;
    pointer-events: auto;
    padding: 16px 28px;
    height: 58px;
    color: $light-text;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1.0);
    text-decoration: underline;
  }

  @media (max-width: 740px) {
    display: none;
  }
}

:local(.presence-info) {
  @extend %unselectable;
  text-align: right;
  position: absolute;
  top: 0;
  left: 16px;
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.3em;
  background-color: white;
  border-radius: 24px;
  font-weight: bold;
  padding: 8px 18px;

  @media (min-width: 769px) and (min-height: 421px) {
    flex: 1;
  }
  @media (max-width: 768px) , (max-height: 420px) {
    margin: 16px 0;
    padding: 2px 8px;
  }
  :local(.occupant-count) {
    margin: 0 12px;
  }
}
