@import 'shared';

:local(.ui) {
  @extend %default-font;
  @extend %unselectable;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}

body.vr-mode {
  :local(.ui) {
    pointer-events: auto;
  }
}

:local(.ui-dialog) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @extend %unselectable;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

:local(.ui-dialog-box-contents) {
  background-color: $white-transparent;
  border-radius: 18px 18px 0 0;
  width: 100%;
  max-width: 600px;
  z-index: 2;
  position: relative;

  :local(.backgrounded) {
    filter: blur(1px);
    opacity: 0.7;
    pointer-events: none;
  }
}

:local(.ui-interactive) {
  pointer-events: auto;
  @extend %unselectable;
}

:local(.invite-container) {
  @extend %unselectable;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    @extend %action-button;
    pointer-events: auto;
  }

  @media (max-height: 320px) {
    display: none;
  }

  :local(.hide-small-screens) {
    display: none;

    @media (min-height: 737px) {
      display: flex;
    }
  }

  :local(.invite-mini-button) {
    display: none;
    background-color: $hud-panel-background;
    height: 28px;
    font-size: 0.8em;

    @media (max-height: 736px) and (min-height: 325px) {
      display: flex;
    }
  }
}

:local(.invite-container-inverted) {
  button {
    @extend %action-button-selected;
  }
}

:local(.invite-container-below-hud) {
  margin-top: 86px;
}

:local(.nag-corner-button) {
  position: absolute;
  z-index: 1;
  bottom: 42px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  pointer-events: none;

  button {
    @extend %default-font;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    min-width: 150px;
    margin-right: 12px;
    margin-left: 12px;
    white-space: nowrap;
    background: none;
    border: none;
    pointer-events: auto;
    padding: 16px 28px;
    height: 58px;
    color: $light-text;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1.0);
    text-decoration: underline;
  }

  @media (max-width: 740px) {
    display: none;
  }
}

:local(.presence-info) {
  @extend %unselectable;
  text-align: right;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 16px;
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.3em;
  background-color: white;
  border-radius: 24px;
  font-weight: bold;
  padding: 8px 18px;
  pointer-events: auto;
  cursor: pointer;

  @media(max-width: 500px) {
    flex-direction: column;
    padding: 8px 8px;
  }

  :local(.occupant-count) {
    margin: 0 12px;
  }
}

:local(.presence-info-selected) {
  color: $action-color;
}

:local(.settings-info) {
  @extend %unselectable;
  text-align: right;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 16px;
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  background-color: white;
  border-radius: 24px;
  font-weight: bold;
  padding: 10px 12px;
  pointer-events: auto;
  cursor: pointer;
}

:local(.settings-info-selected) {
  color: $action-color;
}

:local(.message-entry) {
  position: relative;
  margin: 32px 24px 24px 24px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 16px;
}

:local(.message-entry-disabled) {
  background-color: $light-grey;
}

:local(.message-entry-input) {
  @extend %default-font;
  pointer-events: auto;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline-style: none;
  overflow: hidden;
  resize: none;
  background-color: transparent;
  color: black;
  padding: 8px 1.25em;
  line-height: 28px;
  font-size: 1.1em;
  width: 100%;
  border: 0px;
  height: 32px;
  flex: 10;
}

:local(.message-entry-input)::placeholder{
  color: $dark-grey;
  font-weight: 300;
  font-style: italic;
}

:local(.message-entry-button) {
  color: $action-color;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline-style: none;
  background-color: white;
  min-width: 40px;
  height: 100%;
  bottom: 0px;
  border: 0px;
  font-size: 1.5em;
  cursor: pointer;
  margin: 0px 10px;
}

:local(.message-entry-button):disabled {
  color: $dark-grey;
  background-color: $light-grey;
}

:local(.message-entry-button-in-room) {
  color: $dark-grey;
}

:local(.message-entry-button-in-room):hover {
  color: $action-color;
}

:local(.message-entry-upload) {
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.message-entry-in-room) {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 95%;
  max-width: 700px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(64, 64, 64, 0.55);
  border-radius: 16px;
  pointer-events: auto;
  transition: opacity 0.15s linear;

  :local(.message-entry-input-in-room) {
    color: white;
    padding: 8px 0px;
    margin-left: 4px;
  }

  :local(.message-entry-spawn) {
    @extend %action-button;
    background-color: transparent;
    height: 32px;
    width: 32px;
    bottom: 8px;
    min-width: auto;
    background-size: 100%;
    background-image: url(../images/spawn_message_dark.png);
    background-repeat: no-repeat;
    padding: 0;
  }

  :local(.message-entry-spawn):hover {
    background-image: url(../images/spawn_message_dark-hover.png);
  }

  :local(.message-entry-button-in-room) {
    border: 0;
    background-color: transparent;
    margin-right: 10px;
  }
}

:local(.message-entry-in-room):focus-within, :local(.message-entry-in-room):hover {
  transition: background-color 0.15s linear;
  background-color: $darker-grey;

  :local(.message-entry-button-in-room) {
    border: 0;
    background-color: transparent;
  }
}

:local(.message-entry-on-mobile) {
  // Hide chatbox for joysticks
  // Orientation selector fails here when keyboard pops up on shorter screens
  @media (min-aspect-ratio: 15/9) {
    display: none;
  }
}

:local(.message-entry-on-top) {
  :local(.invite-container), :local(.top-hud), :local(.presence-info), :local(.settings-info) {
    display: none;
  }

  :local(.message-entry-in-room) {
    top: 20px;
    bottom: auto;
  }
}

:local(.bottom-tip) {
  @extend %tip-bubble;
  bottom: 80px;
  width: auto;
  padding: 4px 24px 4px 12px;

  @media(max-width: 768px) {
    left: 50%;
    width: 80%;
    -webkit-transform: auto;
    transform: auto;
  }

  :local(.tip-cancel) {
    color: $light-blue;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    border: none;
    outline-style: none;
    width: 32px;
    height: 32px;
    margin-right: 2px;
  }

  :local(.tip) {
    flex: 10;
  }

  :local(.spawn-tip) {
    flex: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    :local(.spawn-tip-icon) {
      background-image: url(../images/spawn_message.png);
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline-style: none;
      width: 28px;
      height: 28px;
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
      border: 2px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-start;
      cursor: pointer;
      margin: 0 6px;
      border-radius: 18px;
      background-color: $action-color;
    }
  }
}
