@use "../../react-components/styles/theme.scss";
@import 'shared';

// onboard
.topLeftMenu {
  background-color: white;
  position: absolute;
  top: 0px;
  padding: 5px;
  border-radius: 28px;
  display: flex;
  pointer-events: auto;
  margin: 15px;
}

.nonDragSel {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;

 pointer-events: auto;
 cursor: pointer;
}

.iconTopLeftMenu {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48px;
  margin: 5px;
}

//onboardend

:local(.ui) {
  @extend %default-font;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}

body.vr-mode {
  :local(.ui) {
    pointer-events: auto;
  }
}

:local(.interstitial) {
  @extend %default-font;
  background-color: theme.$overlay-bg-color;
  color: theme.$overlay-text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  pointer-events: auto;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  div {
    @extend %action-button;
    width: 250px;
  }
}

:local(.avatar-editor) {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: theme.$background1-color;
  z-index: 11;
  pointer-events: auto;
}
