@import 'shared';

:local(.streaming-tip) {
  position: absolute;
  left: 8px;
  top: 72px;
  background-color: $bright-blue;
  padding: 12px 24px;
  border-radius: 28px;
  display: flex;
  pointer-events: auto;
  max-width: 30%;
  text-align: center;

  @media (max-width: 960px) {
    display:none;
  }

  :local(.streaming-tip-attach-point) {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $bright-blue;
    position: absolute;
    top: -5px;
  }

  :local(.streaming-tip-close){
    width: 32px;
    margin-right: 2px;
    margin-left: -16px;
    border: none;
    cursor: pointer;
    background: transparent;
    color: $light-blue;
  }
  :local(.streaming-tip-message){
    color: white;
    user-select: text;
    display: flex;
    flex-flow: column;
    font-size: 0.8em;
  }
}


:local(.ui) {
  @extend %default-font;
  @extend %unselectable;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}

body.vr-mode {
  :local(.ui) {
    pointer-events: auto;
  }
}

:local(.ui-dialog) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @extend %unselectable;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

:local(.ui-dialog-box-contents) {
  background-color: $white-transparent;
  border-radius: 18px 18px 0 0;
  width: 100%;
  max-width: 600px;
  z-index: 2;
  position: relative;

  :local(.backgrounded) {
    filter: blur(1px);
    opacity: 0.7;
    pointer-events: none;
  }
}

:local(.ui-interactive) {
  pointer-events: auto;
  @extend %unselectable;
}

:local(.in-room-favorite-button) {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 16px;
  margin: 22px 0;
  padding: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  cursor: pointer;
  border-radius: 24px;
  font-size: 1.3em;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline-style: none;
  border: 0;
  width: 43px;
  height: 43px;
  color: $dark-grey;

  @media (max-width: 1080px) {
    display: none;
  }
}

:local(.nag-corner-button) {
  position: absolute;
  z-index: 1;
  bottom: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  pointer-events: none;

  button {
    @extend %action-button-secondary;
    margin-right: 12px;
    margin-left: 12px;
    white-space: nowrap;
    border: none;
    pointer-events: auto;
  }

  @media (max-width: 1080px) {
    display: none;
  }
}

:local(.presence-info) {
  @extend %unselectable;
  text-align: right;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 16px;
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.3em;
  background-color: white;
  border-radius: 24px;
  font-weight: bold;
  padding: 8px 18px;
  pointer-events: auto;
  cursor: pointer;

  @media(max-width: 500px) {
    flex-direction: column;
    padding: 8px 8px;
  }

  :local(.occupant-count) {
    margin: 0 12px;
  }
}

:local(.presence-info-selected) {
  color: $action-color;
}

:local(.corner-button) {
  @extend %unselectable;
  text-align: right;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 16px;
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  background-color: white;
  border-radius: 24px;
  font-weight: bold;
  padding: 10px 12px;
  pointer-events: auto;
  cursor: pointer;
  border: none;
}

:local(.camera-mode-exit-button) {
  padding: 10px 14px;
}

:local(.corner-button-selected) {
  color: $action-color;
}

:local(.leave-button) {
  @extend %action-button;
  position: absolute;
  z-index: 10;
  top: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: auto;
}

:local(.choose-scene-button) {
  @extend %action-button-secondary;
  pointer-events: auto;
  margin-top: 16px;
}

:local(.invite-tip) {
  @extend %tip-bubble;
  width: auto;
  top: 60px;

  display: none;

  @media (min-height: 450px) {
    display: flex;
  }

  :local(.invite-tip-attach-point) {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $bright-blue;
    position: absolute;
    top: -5px;
  }
}

:local(.interstitial) {
  @extend %default-font;
  background-color: rgba(0, 0, 0, 0.9);
  color: $light-text;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  pointer-events: auto;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  div {
    @extend %action-button;
    width: 250px;
  }
}

:local(.avatar-editor) {
  position:absolute;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  pointer-events: auto;
}
