@use "../../react-components/styles/theme.scss";

.main {
  display: flex;
  justify-content: center;
  flex: 1;

  h1 {
    font-size: theme.$font-size-xl;
    text-align: center;
    margin: 15px 0;
  }
}

.content {
  padding: 1em;
  width: 100%;
  max-width: 45em;
  display: flex;
  flex-direction: column;
}

.note-header { 
  display: flex; 
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.note {
  margin: 20px 0;
  @media (max-width: 768px) {
    margin: 10px 0;
  }
  strong {
    font-size: 100%;
  }
}
.date, .date-blank, .title {
  margin: 0;
}
.title a:link, .title a:active .title a:hover, .title a:visited {
  color: theme.$text1-color;
}
.title {
  flex: 1;
  margin-bottom: 10px;
  @media (max-width: 768px) {
    align-self: flex-start;
  }
}

.date, .date-blank {
  font-size: 12pt;
  width: 120px;
}
.date {
  margin: 0.2em 0;
}

.body {
  margin-left: 120px;

  p {
    margin-bottom: 16px;
  }
  
  @media (max-width: 768px) {
    margin-left: 0;
  }

  img { width: 100%; }

  pre {
    overflow-x: auto;
  }
}

.loader {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}
