@import 'shared';
@import 'loader';

body {
  margin: 0;
  padding: 0;
  @extend %default-font;
}

html, body, #ui-root, .container {
  height: 100%;
}
#ui-root > div {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.logo {
  height: 3em;
  margin-left: 1.5em;
  vertical-align: middle;
}

.main {
  background: linear-gradient(to bottom, #ecfaff 0, white 30em);
  display: flex;
  justify-content: center;
  flex: 1;
}

.content {
  padding: 1em;
  width: 45em;
  display: flex;
  flex-direction: column;
}

.loader-wrap {
  align-self: center;
}

h1 {
  text-align: center;
}

.note-header { 
  display: flex; 
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.date, .date-blank, .title {
  margin: 0;
}
.title a:link, .title a:active .title a:hover, .title a:visited {
  color: var(--home-text-color);
}
.title {
  flex: 1;
  @media (max-width: 768px) {
    align-self: flex-start;
  }
}

.date, .date-blank {
  font-size: 12pt;
  width: 120px;
}
.date {
  margin-top: 0.2em;
}

.body {
  margin-left: 120px;
  @media (max-width: 768px) {
    margin-left: 0;
  }
  img { width: 100%; }
}
